[2021-03-17 07:45] newhouse opened #1 "Resolve security warnings in dependencies"
Some packages need to be updated as they've got some security issues.

[2021-03-17 21:40] newhouse opened #2 "Allow specification of all "customization" paths"
Allow for arbitrary `basic.scss` and `full.scss` paths to be specified, rather than only supporting the `./customizations/scss/` folder.

[2021-03-17 21:43] newhouse commented on #2
Mostly depends how easy this is to do by scooping up the desired location and getting it to
[here](https://github.com/anvilco/spectaql/blob/main/app/stylesheets/basic.scss#L4)
and
[here](https://github.com/anvilco/spectaql/blob/main/app/stylesheets/full.scss#L5)

[2021-03-19 07:50] austinrivas opened #5 "Error: Invalid or incomplete schema, unknown type: query_root when using Hasura"
When attempting to build docs from a hasura graphql server I receive the follow error. It seems like spectaql does not respond well to hasura's `query_root` type.

[code]

using the default minimal `config.yaml`

[code]

[2021-03-19 15:52] newhouse commented on #5
Hi @austinrivas  - sorry you're having an issue. I've reproduced the problem over here and your intuition was correct.

The `queryType` and `mutationType` definitions in the Introspection Query returned by your GraphQL endpoint name the `"query_root"` and `"mutation_root"` as the Types to look for for Queries and Mutations, respectively.
This is a problem because it appears in your schema, the Que

[2021-03-19 16:52] vecchp opened #6 "Example Documentation not generating"
I seem to be unable to generate the example documentation.

The following commands produce the same error:

[code]

[code]

Am I missing an obvious step here?

[2021-03-19 17:13] vecchp commented on #6
Seems like it might be related to having an older version of node: https://stackoverflow.com/questions/63775130/unexpected-token-when-using-optional-chaning-syntax-when-running-mocha

[2021-03-19 17:22] newhouse commented on #6
Hi @vecchp - that's very strange. No stack trace whatsoever?

Ah yes, I think there are perhaps some things that are incompatible with older versions of Node, despite the `engines` specifying `>=8` in the `package.json`.

What version of node are you running? I should harden this for `8` better, either by re-writing some things or by babelizing stuff with an `8` target.

[2021-03-19 17:27] newhouse commented on #6
Very sorry for this bug. in the meantime, as a workaround, you could consider using [NVM](https://github.com/nvm-sh/nvm) and adding Node 14 via `nvm install 14` (or `nvm install 14.X.Y`), installing and running it while using that engine.

[2021-03-19 18:11] austinrivas commented on #5
Thanks for taking a loot and providing a work around for me to start testing.

I'll also cross post this over to the hasura boards to see if I can get some clarification on how the schema types for Query and Mutation are defined.

[2021-03-19 18:31] #6 closed

[2021-03-19 18:47] newhouse commented on #6
Just published `v0.0.6` which should get you going again on the global installation side of things. You'll need to update your global installation via `npm update -g spectaql` (or similar).

[2021-03-21 17:55] vecchp commented on #6
We were running node 12.

[2021-03-21 18:20] newhouse commented on #6
Optional Chaining seemed to have been the only culprit, and that's only been supported since [Node 14.0.0](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining)

Should be all set with latest version.

[2021-03-22 19:37] joeyfigaro opened #8 "Error: The partial swagger/operation could not be found"
Using a simple config.yml and running `npx spectaql -d ./spectaql.yml` / `yarn dlx spectaql -d ./spectaql.yml` results in the following error:

[code]

[2021-03-23 04:12] #8 closed

[2021-03-23 04:54] newhouse commented on #8
Hi @joeyfigaro - very sorry about that. It's a code-path that hasn't been flexed in a while.

Should be fixed now from:
https://github.com/anvilco/spectaql/pull/9
https://github.com/anvilco/spectaql/pull/10

And has been published to `npmjs` version `0.0.7` since you look like you're using the global install...so you'll need to `update`/`updgrade`.

Thanks for using SpectaQL!

[2021-03-23 20:33] hayfever opened #11 "How can I make the query example fields only expose fields which are exposed on the type?"
I'm experiencing an issue where I have a query documented with only one field exposed on it's return type, yet all fields on the return type are shown in the query example. The rest of the fields are appropriately hidden in the type example. My expectation is that because I've only exposed one field in the type itself that the return type for the query would also only show that one field. Is this

[2021-03-24 00:10] newhouse commented on #11
Ah, I think I know what you're saying and what is going on. If the information is not sensitive, I'd love a couple of screen shots?

All of the "hiding" takes place in the `JSON Schema` representation of your schema, and drives the flow of the resulting documentation. However, the examples stuff plays off of the `GraphQL Schema` built by GraphQL utils...I'm sure the problem is somewhere in there w

[2021-03-24 02:02] hayfever commented on #11
Sure, here's a contrived example:

[code]

<img width="1511" alt="Screen Shot 2021-03-23 at 8 56 48 PM" src="https://user-images.githubusercontent.com/3801926/112242898-a3330400-8c1a-11eb-8b2e-c1841c013283.png">

I would expect that the query example would not show `name` in the example.

I could also try to tackle soon, I was recently messing with dociql and I know this is something in there for

[2021-03-24 04:19] newhouse commented on #11
Thank you so much for the examples and screenshot - super helpful.

I'm assuming based on looking at this that your `config.yml` has set all the `xxxDocumented`s and `xxxDocumentedDefault`s  all set to `false`...and the image is what I was expecting to see.

Hopefully that means I'm on the right track on what the probem is, as well...going to dig in now.

[2021-03-24 16:03] #11 closed

[2021-03-24 16:07] newhouse commented on #11
Fix is merged. Also published `0.0.8`, but I don't think you're using NPM...thanks again for your help!

[2021-04-10 14:47] joeyfigaro commented on #8
@newhouse No worries, mate. Thanks! I'll check it out.

[2021-04-13 17:49] lensbart opened #13 "Missing fields on object input types"
Hello!

Thanks for making this — looks really nice.

I noticed that some fields were missing in the generated documentation; namely those that are on (nested) input object types.

Cheers!

[2021-04-13 17:52] lensbart opened #14 "Output for enums looks a bit wonky"
Hello again,

The generated documentation for enums seems overly verbose:

![afbeelding](https://user-images.githubusercontent.com/20876627/114597950-a48fa380-9c91-11eb-9345-ad8669855cdc.png)

Other than that, things look great!

[2021-04-14 16:11] newhouse commented on #13
Hello @lensbart  and thank you for using SpectaQL!

Can you provide a bit more details?

Screenshots and (more importantly) some example data or SDL snippets that that I can use to identify and reproduce the error would be great!

[2021-04-14 16:12] newhouse commented on #14
Hello @lensbart  and thank you (again!) for using SpectaQL!

If it's not too much trouble, can you provide me with an example JSON or SDL of your `Region` enum so that I can reproduce this on my side?

Thanks!

[2021-04-15 20:59] lensbart commented on #14
Nothing out of the ordinary!

[code]

[2021-04-22 00:07] #14 closed

[2021-04-22 00:09] newhouse commented on #14
Updated to look a bit nicer, and published in version `0.1.0`...thanks!

[2021-04-22 00:12] newhouse commented on #13
Hi @lensbart  - still hoping you can provide more details for me so I can try to fix things for you. Thanks!

[2021-04-22 14:57] misternerd commented on #13
Hey @newhouse, I stumbled onto this issue as well. I hope it's the same thing, so I'll provide some information for how it looks on my end. The relevant part of the schema looks like this:

[code]

Now, if I don't set `hideFieldsWithUndocumentedReturnType` in the config, the `FilterType` will still show up in the generated docs, but only with the comment above the type. The field list is completel

[2021-04-22 15:10] misternerd commented on #13
One additional thing I just noticed: Even though the left side marks the params as `object`, the right right hand side with demo data displays correct data. So for the boolean field from above, the right hand side contains the line `"someField": true`.
This is also true if the type of the field is another input object, then it's defined as `"otherInputTypeField": OtherInputType`

[2021-04-22 16:27] newhouse commented on #13
@misternerd thanks for the details - much appreciated! This is probably enough to get me going. I will try to have a look later today.

[2021-04-23 13:27] raoul-thill opened #16 "Filtering"
Thanks for this great utility to generate nice-looking GraphQL documentations! One feature I am missing or don't know exactly how to start with as it could probably be done with the customizations is filtering.

Is it possible to filter some defined queries, mutations and types from the generated documentation?

[2021-04-24 00:41] kev-ngo opened #17 "YAMLException: end of the stream or a document separator is expected"
## Issue
- I am trying to create GraphQL documentation from my schema file using `npx spectaql schema.txt`
- When I try it, I'm receiving the following error message:
![1](https://user-images.githubusercontent.com/69411313/115941580-c4c21e00-a45a-11eb-896c-f8f3059ec893.png)

## Attachments
Here's the schema file that I'm trying to create docs from:

[schema.txt](https://github.com/anvilco/spectaql

[2021-04-26 16:17] raoul-thill commented on #16
I figured out how to do filtering, if someone is struggling with the same, you have to look into metadata and the introspection parameters to show or hide queries, mutations and types.
If you show everything (default) you would have something like this in your metadata.json:
[code]

In case you only want to do whitelisting, you should configure in you config.yaml:
[code]

together with a metadata.

[2021-04-26 16:45] newhouse commented on #16
@raoul-thill Nice work!

This is correct: if your config says to allow every `Query`/`Mutation`/`Type` by default, then you will have to use documentation-related metadata to indicate which things you'd like to blacklist...and vice versa.

Your 2 main options for getting that metadata into the mix for `SpectaQL` to obey are:
1. Put it in a separate JSON file in the proper format, and point to that

[2021-04-26 20:38] mscolnick opened #18 "Handle deprecated fields"
It would be great to show deprecation info when fields are deprecated. It looks like it is something that is [returned from introspection](https://github.com/anvilco/spectaql/blob/39bd6d933be950882b356dc94b4dc1ffa53e7ba2/examples/data/introspection-with-metadata.json#L39)

[2021-04-27 17:18] newhouse commented on #17
Hello @kev-ngo and thanks for using SpectaQL!

The first issue I see is that your command should point to a **_yaml config_** and not a **_schema_**. Inside your config, you can put a path to your schema.

Something like this (lifted from [examples/config.yml](https://github.com/anvilco/spectaql/blob/main/examples/config.yml)) should work:
[code]

After fixing that, I am seeing some errors in proc

[2021-04-27 18:57] #17 closed

[2021-04-28 00:45] #13 closed

[2021-04-28 00:46] newhouse commented on #13
Fix is out and available in current `main` branch, or in version `0.2.0`. Thanks again!

[2021-04-28 01:00] kev-ngo commented on #17
Thank you!

I'm receiving this error when I try the steps you mentioned:

[code]

Do you know what this issue is?

### Steps to reproduce:
1) **Create a `config.yml` file and paste the following in it:**

[code]
2) **run `npx spectaql config.yml`**

[2021-04-28 01:24] newhouse commented on #17
Hi @kev-ngo !
In response to your issue, I [adjusted the code](https://github.com/anvilco/spectaql/pull/19)to detect when there is a problem with the schema and it will log the errors and then throw an uncaught exception. If you pull down the latest version of this repo  - or update to the latest version `0.2.0` in your project - you will see the errors that I posted in my earlier message. The err

[2021-04-28 01:32] newhouse commented on #18
HI @mscolnick and thanks for writing in!

You're correct that this information is in the Introspection Query results as long as it's in your schema. I also think this would be a nice thing to add into SpectaQL. I'm going to think about it a bit and tinker around with how it might work. Stay tuned, please.

[2021-05-04 13:51] raoul-thill commented on #16
@newhouse, after having a more in-depth look at the public/restricted documentation, I can see that fields and args are missing on objects for example. The same for mutations and queries where I don't have the example args.

From my initial example, how can I have a metadata.json file that works for the OBJECT UserType to include all the fields and to have all args displayed in the generated docum

[2021-05-04 16:19] newhouse commented on #16
@raoul-thill

Can you provide a simple `schema` and `config` that I can run to reproduce what you're talking about? A screenshot of the incorrect part of the output would help, too. That would make it much easier for me make sure we're on the same page, and for me to fix it for you.

[2021-05-05 09:50] raoul-thill commented on #16
@newhouse

Sure, please find the files below:

schema.sdl:
[code]

config-private.yml:
[code]

config-public.yml:
[code]

metadata.json:
[code]

The result can be seen below, on the left side is the public using metadata.json and on the right side the private version without any special configuration:
![image](https://user-images.githubusercontent.com/70886316/117123895-e8109580-ad97-11eb-8e79-f7c

[2021-05-06 09:36] raoul-thill opened #42 "Contact and license information"
I've used the same information as in the example provided, but the license and contact information are not properly rendered.

[code]

The outcome of this is that the only value shown is Contact: support@yoursite.com, no name or URL for the contact and no license information at all.

[2021-05-07 13:03] raoul-thill commented on #16
I have slightly adapted my configuration to the following introspection settings:
[code]

This allows me to see everything like in the example on the right screenshot, but now I am looking at undocumented fields in the metadata file for types.

[2021-05-08 00:26] trevorr opened #44 "TypeError: cheerio is not a function"
I'm trying out spectaql (0.2.0) for the first time, and I'm hitting the following error:

[code]

I tried running `npm i -D cheerio`, but got the same error. I'm running against a schema file:

[code]

I tried with a trivial schema too, and got the same error:

[code]

node/npm/OS version:

[code]

[2021-05-11 17:04] benhickson commented on #44
Hi Anvil, just opened a PR which should fix the issue that @trevorr and I are experiencing.

@trevorr , I got this working locally by going into `node_modules/spectaql/app/lib/common.js` and appending `.default` to line 3:
[code]
Not sure the best way to fix it for real, but possibly if my PR gets merged that might do it.

[2021-05-11 18:06] newhouse commented on #16
Sorry for the delay in responding to these...going to have a look into the issue tonight.

[2021-05-12 01:59] newhouse commented on #16
Hi @raoul-thill  - thanks for the example input and outputs...but I'm still struggling to understand what your desired/expected output is?

If you can give me your input schema (which I think I already have) and provide either a doctored screenshot OR some representation of the output you're looking for, then I can hopefully provide you with the necessary `config` + `metadata` to get things there.

[2021-05-12 02:12] newhouse commented on #42
Thanks!

[2021-05-12 02:12] #42 closed

[2021-05-12 03:28] newhouse commented on #44
After digging in to the root cause, I came across this: https://github.com/cheeriojs/cheerio/releases

Which shows that cheerio released `1.0.0-rc.9` a few days ago. So, I'm guessing that the problem for some began because the `package.json` specifies `"cheerio": "^1.0.0-rc.2"`...but if you do a new install today, you will actually get `"1.0.0-rc.9"`.

In release `v1.0.0-rc.9`, they list the follo

[2021-05-12 03:50] benhickson commented on #44
Looks good! thanks @newhouse

[2021-05-12 03:59] trevorr commented on #44
Thanks @newhouse, can't wait to try it out! Also, you're a towel. 😂

[2021-05-12 13:33] #44 closed

[2021-05-12 13:36] benhickson commented on #44
@newhouse When should we expect this to arrive on NPM?

[2021-05-12 13:41] newhouse commented on #44
Fix is in `0.2.1` available now. @benhickson

[2021-05-12 13:49] newhouse commented on #1
So, this will be a larger undertaking than originally thought. DociQL was built relying on Grunt, and many of Grunt's plugins appear to not be maintained...and it's these plugins that have the security issues.

I should probably look into changing from using Grunt to using something else that is modern, and maintained. Need to investigate.

[2021-05-12 13:53] newhouse commented on #1
Re-opening to account for some more investigation...have an idea.

[2021-05-12 15:10] benhickson opened #49 "Add ability to specify headers on introspection requests"
The GraphQL API I'm introspecting requires an API Key to be provided via the request headers. Is there a way to do this currently?

[2021-05-12 15:20] raoul-thill commented on #16
I think I found all the good settings as mentioned in my last post and now also the metadata that work well. Example metadata I have in place:
[code]

At least this shows by default all fields for documented objects and I can hide specific fields from the public documentation that are only required by our internal app.

[2021-05-12 15:20] #16 closed

[2021-05-12 15:40] benhickson commented on #49
I see there's some options to provide an `Authorization` header, but in our case, we'd need to be able to specify the header key arbitrarily

https://github.com/anvilco/spectaql/blob/8943fe336beb602a6dbc34df9a83e732358f41ed/app/spectaql/graphql-loaders.js#L46-L64

[2021-05-12 16:40] newhouse commented on #49
I'd noticed that it was limited support in DociQL, and was waiting for the day when someone asked for more. This makes sense to me and I will add it ASAP.

[2021-05-12 20:43] benhickson opened #50 "Error when using introspectionFile without specifying a server"
When no `servers` key is provided in the `config.yml`, but `introspection.url` is used, things work fine.
However, when I use `introspection.introspectionFile` instead of a URL, I get the error:
[code]

When I add a `servers` key, with a server marked as `production`, things work fine.

I think this might be a bug.

This might be section of the code:
https://github.com/anvilco/spectaql/blob/8943fe

[2021-05-12 20:51] trevorr opened #51 "Directive-driven documentation and metadata?"
Hello! I just tried spectaql for the first time, and it successfully generated nice-looking (but bare bones) documentation for my rather large API (5288 lines of SDL)!

My GraphQL service is entirely [SDL-first](https://github.com/trevorr/sdlfirst), with C/U/D mutations, SQL schema, and most Typescript resolver code generated based on directive-annotated SDL, so it contains many directives that de

[2021-05-13 02:45] newhouse commented on #50
Yeah, this error message is not very helpful at best, and misleading at worst. The components behind its existence seem to be moot:
- they're Swagger related, but do not seem to have any significance from the DociQL world
- they definitely don't have any significance in the SpectaQL enhancement over DociQL.

That being said, until this library officially announces and completes its divorce from Sw

[2021-05-13 14:01] #49 closed

[2021-05-13 14:06] newhouse commented on #49
Added in `v0.2.2` which is now on NPM.

[2021-05-13 14:06] newhouse commented on #50
Added in `v0.2.2` which is now on NPM.

[2021-05-13 14:06] #50 closed

[2021-05-13 14:16] benhickson commented on #50
nice, thanks!

[2021-05-13 15:20] newhouse commented on #51
Hmm, this is an interesting question.

To be quite honest, the level of support I'd be willing to put behind this (for now) will be proportional to the amount of capability that the GraphQL tools currently provides for it.

For example, in the way that I'm currently leveraging the `graphql` library, directive applications on, say, a `FIELD_DEFINITION` do not make their way into the Introspection Q

[2021-05-14 06:31] thepont opened #54 "no ref found from compile handlebars when compiling graphql schema"
The `compile-handlebars:compile" (compile-handlebars)` step is returning multiple errors no ref found when compiling and several queries are missing from the documentation output.

[code]

This seems to happen when you have a query and a mutation with the same name.

see the following [schema](https://gist.github.com/thepont/b0a899a36c870ccc92adfcab56506488)

Looking further into this seems like a

[2021-06-04 17:20] fileformat opened #57 "Ability to override defaults via YAML"
Currently, options that have [defaults](https://github.com/anvilco/spectaql/blob/54b51c591c59857341d87b0c36175d610a27445a/app/index.js#L21) cannot be specified in the YAML file.  For example: `oneFile` only works when specified on the command line.

This is caused by the using [_.extend() with the defaults](https://github.com/anvilco/spectaql/blob/54b51c591c59857341d87b0c36175d610a27445a/app/index

[2021-06-04 17:34] iskdjim opened #58 "CSS customization"
hi guys,
as far as i unterstand it right, it should be possible to add some custom css to change the default css for the html.
unfortunately, i am not smart enough to get it working ;).

can maybe someone explain me, where i have to but the custom full.scss file.
have already added the cssBuildMode: full in my config.yml file.

thanks

[2021-06-09 01:06] louisa-ba opened #60 "Scalar Metadata example"
scalar metadata does not produce a example

e.g.
[code]

produces

[code]

[2021-06-09 19:34] newhouse commented on #57
Ah yes, this is not cool. Fixing in https://github.com/anvilco/spectaql/pull/61

[2021-06-09 19:49] newhouse commented on #58
Hi @iskdjim and thanks for using SpectaQL!

Question - are you using SpectaQL via `npm`, or have you cloned the repo from Github?

[2021-06-09 19:49] newhouse commented on #2
Similar to https://github.com/anvilco/spectaql/issues/58

[2021-06-10 20:03] stephen-opal opened #62 "Union types appear to be missing"
Hi there, thanks for the great library! Right now, all of my operations and types are generating, but for some reason, my union types aren't. Is this known / expected? This is my config basically:

[code]

with generation command:

[code]

Example GraphQL spec:

[code]

Let me know if I can provide additional info. Thank you!

[2021-06-14 13:28] #57 closed

[2021-06-14 13:39] newhouse commented on #57
This is fixed in `main` and was published in `0.2.3`...thanks!

[2021-06-15 13:34] stephen-opal commented on #62
Friendly ping :)

[2021-06-16 20:28] ShawnYcx commented on #58
I have the question about this. I'm using SpectaQL via npm and do not have app folder cloned. What kind of configurations do I need to setup scss override? Thanks

[2021-06-16 20:56] newhouse commented on #62
Hey @stephen-opal very sorry for the delay...been super busy + under the weather a bunch. I'm going to give this a deep dive either tonight or tomorrow. Stay tuned!

[2021-06-21 21:09] newhouse commented on #58
@ShawnYcx that's great that you figured out how to get things working for you! I'm actually interested in exactly how you've got things set up as I was not 100% following your scenario and solution.

Would you mind sharing a bit more?

[2021-06-22 23:25] ShawnYcx commented on #58
Sure. I like the default `cssBuildMode: full` stylings and I just wanted to override the sidebar styles, remove box shadow, etc...

### The problem
I was trying to override just the variable value in `/customizations/scss` but the issue was in `./app/stylesheet/_layout.scss` not all hex values are scss variable like it is in `./app/stylesheet/_basic.scss`.

### Reference to what I'm talking about

[2021-06-23 13:26] newhouse commented on #58
Thanks for posting @ShawnYcx ! This makes sense to me if you've cloned/forked the repo locally somewhere...but I thought you said you were using it via `npm`? Did you go into the `node_modules` folder of your project to make these edits then? I worry that those edits will be lost next time there's an update of the package...

[2021-06-23 17:40] ShawnYcx commented on #58
Nope, I copied the `/app` folder into my source and used the `-a` cli command to change the default the app path.

https://github.com/anvilco/spectaql/blob/cec26d487c5ed28fc2de00aa0230ef551d292788/bin/spectaql.js#L38

[2021-06-28 16:32] shawncarr commented on #60
Looking for how to document a custom scalar as well.

[2021-07-12 04:32] ahmetthepoet opened #65 "can schemaFile config option take in an array and not just one path?"
Hello, I was wondering if it would make sense  to allow spectaql take in multiple schemaFiles. I had to split my schema into multiple files because it was getting to long but this now means I cant use spectaql to scrape the schema to generate the static pages

[2021-07-13 18:53] #1 closed

[2021-07-13 21:23] newhouse commented on #65
Hi @ahmetthepoet and thanks for using SpectaQL!

This is a good idea that falls in line with how GraphQL is used and developed...I've gone ahead and done the work already:
https://github.com/anvilco/spectaql/pull/69

Once that gets merged, I'll publish it and circle-back here.

[2021-07-13 21:51] #65 closed

[2021-07-13 21:52] newhouse commented on #65
Published in version `0.3.1`

[2021-07-14 02:02] ahmetthepoet commented on #65
Thanks @newhouse tested it out and it works like a charm!

[2021-07-16 13:27] #18 closed

[2021-07-16 13:31] newhouse commented on #18
@mscolnick this is published in version `0.4.0`!

[2021-07-16 15:45] newhouse commented on #54
@thepont a fix is coming...

[2021-07-16 19:53] newhouse commented on #62
@stephen-opal nearly done with this...sorry for the delay!

[2021-07-16 20:05] #54 closed

[2021-07-16 20:59] newhouse commented on #54
@thepont published in `0.4.1`!

[2021-07-19 01:10] thepont commented on #54
Oh cool, thanks @newhouse

[2021-07-19 14:08] #62 closed

[2021-07-19 14:10] newhouse commented on #62
@stephen-opal this is out in `0.5.0`!

[2021-07-20 15:08] newhouse commented on #60
@shawncarr @louisa-ba

Thanks for using SpectaQL and thanks for writing in. Indeed, examples for default and custom scalars was not supported in SpectaQL, but [this PR](https://github.com/anvilco/spectaql/pull/79) adds it.

You were doing things correctly:
- Add the example to the `metadata.json` file
- OR get it into your Introspection Query results already
- OR use dynamic example generators to

[2021-07-20 20:40] #60 closed

[2021-07-20 20:42] newhouse commented on #60
In `main` now, and published in `0.6.0`!

[2021-08-05 21:43] gfviegas commented on #5
Same thing happens when using url config with Absinthe

The first few lines from generated SDL file from absinthe generate sdl task is as follows:
[code]

[2021-08-06 06:04] SlashKirill opened #83 "Unexpected token P in JSON at position 1"
Hi,

i'm getting following error with almost standard config and SDL from latest postgraphile:

[code]

sdl: [sdl.txt](https://github.com/anvilco/spectaql/files/6943358/sdl.txt)

config.yml

[code]

Any suggestions what is the problem? Thanks.

[2021-08-06 20:20] kbailey923 opened #84 "Missing documentation/support for "INPUT_OBJECT" metadata examples"
Minimal example with a single `createUser` mutation that takes in `CreateUserInput` input type as parameter:

`schema.graphql`
[code]

`metadata.json`:
[code]

Expected behavior for generated `CreateUserInput` example:
[code]

Actual behavior for generated `CreateUserInput` example:
[code]

If metadata examples are currently supported for input objects, could you provide a working example?
Thanks.

[2021-08-09 14:06] newhouse commented on #83
It seems like it's a problem in the `graphql-2-json-schema` dependency...which I am also a contributor/maintainer of. It's not handling argument defaults that are ENUM lists properly.  Could you open a ticket [over there](https://github.com/charlypoly/graphql-to-json-schema) and I'll have a look?

FYI, the stack trace I'm seeing is this:
[code]

[2021-08-12 08:29] SlashKirill commented on #83
Just in case, I opened a ticket there.

[2021-08-13 19:20] newhouse opened #85 "Undocumented field arguments are not respected"
They're removed from the JSON Schema, but they still end up in the output due to args being built off GraphQLSchema.

[2021-08-13 20:58] #85 closed

[2021-08-16 13:58] newhouse opened #87 "Proper JSON-representation of JSON example"
The values in the below example object should all have quotes around them...

![image](https://user-images.githubusercontent.com/2524009/129575441-7e8d5913-2054-447d-9db3-21de8d8a5629.png)

[2021-08-17 17:06] benogle opened #89 "Support linking to other objects in the doc"
I'd like to be able to add syntax to descriptions of objects, resolvers, args, etc that links to other objects in the reference. e.g.

[code]

Then have `User` and `Organization` create links to the respective objects.

Not sure on syntax, but it'd be nice to be able to link to anything: queries, mutations, or types like this

[2021-08-17 18:31] newhouse commented on #89
I like this idea a lot...will look into it. Thanks!

[2021-08-17 21:39] chemmex commented on #84
I confirm that per field (per input field) metadata for INPUT_OBJECT is not applied to the output. Neither 'example', nor 'undocumented'

[2021-08-18 13:54] nivo33 opened #90 "Adding Types to documentation only if they are used by a documented operation"
Hi,

First an explanation of my use-case:
I have a large GraphQL API, and I am only interested in exposing very few queries and mutations. With the current set up, it requires a lot of manual work:
1) I must turn everything off by default.
2) Turn on the mutations and queries I want to document (with {documented: true})
Until here, no problem. This is the amount of work I expected.

The problem st

[2021-08-18 14:36] newhouse commented on #90
Hi @nivo33 and thanks for using SpectaQL!

I think I understand your usecase and what you're saying. Currently, SpectaQL should "hide" fields from Types if the field's return Type is not documented...but it does not "hide" Types that are not part of any Query or Mutation. This is what you're asking for, yes?

I see the algorithm as:
1. Hide all the things that should be explicitly hidden based on

[2021-08-18 14:37] newhouse commented on #90
Looks like you already opened one, thanks! I'll have a look!

[2021-08-18 14:44] nivo33 commented on #90
I think I pretty much did it the way you mentioned.
Looking forward to your comments and suggestions 😄

[2021-08-18 17:02] trevorr opened #92 "Documentation for interfaces"
Spectaql doesn't seem to generate output for interface types or queries that return them. In other words, I see my types that are declared as `type` or `input` but not `interface`, and queries that return interface types don't show up at all. I don't see any mention of interfaces in the documentation, so maybe they're not currently supported? What would be required to include these in the document

[2021-08-18 18:45] mscolnick opened #93 "grunt-contrib-jshint seems unused"
Could we remove `grunt-contrib-jshint` from the `package.json` since it looks unused? This currently causes issues with `jshint` in a [Bazel monorepo](https://github.com/bazelbuild/rules_nodejs/issues/1632) which has non-ideal workarounds.

[2021-08-19 22:08] newhouse commented on #93
Sure, I don't see why not...

[2021-08-19 22:24] #93 closed

[2021-08-19 22:25] newhouse commented on #93
Published in `0.6.3` just now

[2021-08-19 23:16] mscolnick commented on #93
thank you!

[2021-08-20 17:32] #89 closed

[2021-08-20 17:46] newhouse commented on #89
Due to some limitations and anticipated use cases, I had to keep it somewhat rugged and it will only return an anchor link for the specified thing...you'll have to get a little more down and dirty, typically by building a markdown link yourself, but it allows for more flexibility.

[2021-08-25 00:53] jared-fraser commented on #58
It would be great to get an example of how to generate with custom css via npm.

I have the following layout however the customizations are not being applied.

[code]

[2021-08-30 22:09] bjunc commented on #5
We are also using Absinthe, and having an issue with introspection results causing the error above (both static and dynamic). Absinthe uses the convention `RootQueryType` and `RootMutationType` as opposed to `Query` and `Mutation`.

It seems that this library has a rigid opinion on what the root type names should be; which I don't believe is formal spec (as evidenced by the multiple versions out t

[2021-09-01 18:07] huzaifaali14 opened #100 "Config.yml not accepting relative paths"
The example in the repo https://github.com/anvilco/spectaql/tree/main/examples is actually failing with error `Unexpected <EOF>`. Seems like relative path for schema file is not getting detected. Upon using absolute path it works.

<img width="1012" alt="Screenshot 2021-09-01 at 11 04 33 PM" src="https://user-images.githubusercontent.com/30002668/131721278-099cbcac-277e-4c1d-8a3f-09f911aee045.png"

[2021-09-01 18:37] huzaifaali14 commented on #100
I guess I have figured out whats the issue so when executing the command from root it will work even when having relative path in config files but executing the command inside directory will fail.

[2021-09-01 21:15] huzaifaali14 commented on #100
So actually I had to learn it hard way that the command need to be executed from the root. Even though having the relative path in `config.yml` it should run when I am executing the command from the same directory where `config.yml` lies. Can't we do something like `path.resolve(__dirname, schemaFilePath)` So that we get a concrete absolute path even if `schemaFilePath` is a relative path.

[2021-09-02 10:55] huzaifaali14 opened #101 "Support for grouped Queries and Mutation"
Is there a way to generate grouped queries and mutations just like [Dociql](https://github.com/wayfair/dociql/blob/master/config.yml). I have gone through the docs and YAML options and I couldn't find anything relevant. I guess `Dociql` is managing it through `usecase` option in YAML file.

<img width="560" alt="Screenshot 2021-09-02 at 3 49 24 PM" src="https://user-images.githubusercontent.com/30

[2021-09-08 06:35] huzaifaali14 commented on #101
Hi @newhouse any update on this one.

[2021-09-15 23:21] newhouse commented on #5
There seems to have been some sort of bug in the `graphql` helpers where if a Schema had a non-standard `queryType` or `mutationType` type, it would rename each of the types in the `types` array of the synthesized IntrospectionQuery response, but it would not change the names in the `queryType` and/or `mutationType`, and things would break.

So an SDL like this:
[code]

Would result in an Introspe

[2021-09-16 12:29] newhouse commented on #5
A fix for the particular use-case described above should be available now in `v0.7.1`...it may also work for other use-cases encountered by users here.

Can you try again with the latest version of SpectaQL?

@bjunc @austinrivas @gfviegas

[2021-09-16 18:04] newhouse commented on #83
Fix coming...

[2021-09-16 18:14] newhouse commented on #101
Hi @huzaifaali14 and thanks for using SpectaQL!

There is not currently a way to do this in SpectaQL, unfortunately, but I do think this seems like something that it should support.

I'm trying to think about what might be the best way to expose this capability to users. My first thoughts are:
1. Allow for an additional `metadata` flag that can be used to optionally specify a `groupName`...then al

[2021-09-16 19:35] #83 closed

[2021-09-16 19:39] newhouse commented on #83
This is fixed in `v0.7.2`

[2021-09-16 21:54] newhouse commented on #84
Fix coming shortly...

[2021-09-16 22:14] newhouse opened #111 "Discussion: Should SpectaQL break away from Swagger / OpenAPI?"
SpectaQL's roots come from [Dociql](https://github.com/wayfair/dociql), which comes from [Spectacle](https://github.com/sourcey/spectacle).

Spectaqle's docs state:

Because of this, there is a LOT of Swagger/OpenAPI specific stuff going on under the hood in SpectaQL:
- The GraphQL schema is converted in to a JSON Schema...
- There are many terms and handlebars templates that follow a JSON/Swagger

[2021-09-17 16:21] newhouse commented on #92
Fix coming...

[2021-09-17 17:00] #84 closed

[2021-09-17 17:31] newhouse commented on #92
Fixed in `0.8.0`

[2021-09-17 17:31] #92 closed

[2021-09-17 17:31] newhouse commented on #84
Fixed in `0.8.0`

[2021-10-01 11:45] SilVdB opened #134 "h4 closing tag in example header template doesn't match"
A very small issue, but I noticed the closing tag of the "Example" header in the template doesn't match:

[code]

[2021-10-04 16:24] newhouse commented on #134
Thanks @SilVdB !!! I'll have a look ASAP...

[2021-10-05 15:18] #134 closed

[2021-10-05 15:19] newhouse commented on #134
Fix is out in version `0.9.2`...thanks again @SilVdB !

[2021-10-27 06:08] VaishakVk opened #147 "Replace default scalar values across all argument types"
Hi,

I am trying to replace the default static values that are part of `spectaql`. I tried adding `metadata.json` with `SCALAR` and also tried using `dynamicExamplesProcessingModule`. Below is the config file for `scalarProcessor`.

[code]

However, it just replaces the static type and all the arguments are not replaced with the value provided. Is there a way to update all the scalar values presen

[2021-11-04 19:29] ab-tools opened #150 "Intro Item with Multi-Line MarkDown-Enabled Content"
It's great to have the option to add additional "x-introItems", but this seems pretty limited so far:
Based on my tests it only allows a single line of "description" for each additional intro item.

Would it be possible to allow multi-line, fully MarkDown-enabled (including bullet/numbered list and other MarkDown features) intro items instead of just single-line ones?

This would allow to describe

[2021-11-06 10:02] AubSs commented on #111
Definitely, Swagger/OpenAPI don't seem to be useful for graphql.

By the way, you created a nice product!

[2021-11-08 09:51] raoul-thill commented on #150
I think what you are looking for is the following:

[code]

I use the multiple times in my `x-introItems` and this keeps the yaml readable.

[2021-11-08 17:07] ab-tools commented on #150
Thanks a lot for your quick reply, Raoul!

Works perfectly as you wrote.

[2021-11-08 17:07] #150 closed

[2021-11-08 17:34] ab-tools opened #151 "Schema Query/Mutation Description Ignored"
Currently these descriptions of the `queryType` and `mutationType` seem to be completely ignored during documentation generation:

    {
        "data": {
            "__schema": {
                "queryType": {
                    "name": "ApiRequestQuery",
                    "description": "Description of query endpoint here.",
                    "kind": "OBJECT"
                },

[2021-11-09 17:16] ab-tools opened #153 "Description Text Cut-Off Last Character"
The last character (often just a `.`) is cut-off on every field description during report generation.

[2021-11-12 00:50] renato commented on #5
I'm on 0.9.2 and it works fine with Hasura's `query_root` and `mutation_root`.

[2021-11-23 21:59] newhouse commented on #153
I know that there's code to remove the trailing `.` character, specifically...but it should not be removing other characters.

Regardless, I think that behavior should be optional. Working on a change/fix.

[2021-11-23 22:00] newhouse commented on #153
@ab-tools if you are able to provide a simple schema where a non `.` is removed, please let me know!

[2021-11-23 22:06] ab-tools commented on #153
Thanks a lot for looking into that, @newhouse:
I think you are right that all occurrences of this issue I found were about a trailing `.`, I just could not imagine this would be on purpose, so I thought it was just the last character that got removed. ;-)

But yes, please make that optional (or remove this "feature" completely).

Not sure when this would make sense actually?
Even in the documentat

[2021-11-23 23:18] newhouse commented on #153
I can't remember why I put it i there, honestly, but at this point in time it does not seem desirable to me. Fix coming soon.

[2021-11-24 02:38] #153 closed

[2021-11-24 02:45] newhouse commented on #151
Fixed in `0.9.4`

[2021-11-24 02:45] #151 closed

[2021-11-24 02:45] newhouse commented on #153
I can't remember why I put it i there, honestly, but at this point in time it does not seem desirable to me. Fix coming soon.

[2021-11-24 02:46] newhouse commented on #153
Fixed in `0.9.4`. There is now an option for it.

[2021-11-24 10:36] ab-tools commented on #151
Much appreciated, @newhouse, works great now! :-)

[2021-11-26 13:26] knotenpunkt opened #160 "Clicking on a jump-link and going back"
hey,

if i click on a jump link in the doc, and then on the going-back-button in the browser, then nothing happens. but the expected behaviour should be jumping back to the position where i can see the link

[2021-11-29 15:24] newhouse commented on #160
Hi @knotenpunkt and thanks for using SpectaQL!

I'm not sure that I 100% follow you? Can you be a little more specific so that I can replicate things?

In Chrome, for me, when I click around and then use the `back` button, things work as I'd expect them to. But perhaps I'm doing something differently than you are, or I'm using a different browser?

[2021-11-29 17:20] newhouse commented on #147
Hello @VaishakVk and thanks for using SpectaQL! Sorry this got lost for so long. Just to be sure I understand you correctly:
1. You'd like to specify the **_example_** value used for various Scalars (as it seems like you have figured out already).
2. You'd like to use those same example values wherever any of those Scalars are used as Arguments.
3. I presume you'd also like to use those same examp

[2021-11-29 18:15] VaishakVk commented on #147
Thank you for answering. I tried your solution, however for `Types` the defaults don't seem to substitute. Attached an image that was generated after adding the example module.
![image](https://user-images.githubusercontent.com/30084393/143921086-cf357703-4c8e-42ea-9027-4ca64459b888.png)

The `id` column has a `Float` type but the example still shows the default value even after the example module

[2021-11-29 21:42] newhouse commented on #147
@VaishakVk seems like you're actually experiencing this on a Field on an Input Type? Is that the only place where things are not working as expected?

Can you provide me with a simplified SDL/Schema that I can use to reproduce this? And can you call out what parts exactly are not working as expected, even with the code I provided?

[2021-11-30 04:46] VaishakVk commented on #147
Yes @newhouse , It happens only on Input fields.  Ive created a repo to help debugging - https://github.com/VaishakVk/spectaql-debug

You could run `yarn` and `yarn doc` to generate the documentation.

[2021-11-30 12:04] knotenpunkt commented on #160
No i dont use SpectaQL yet, still i use DociQL, but i want to to move to SpecaQL, because ....... yeah i think you know, DociQL is not very usable, i did there some hacks in it, to getting a better result, but i think SpectaQL did more to get a better output.

So to the mai problem here in the issue:

Yeah i use also Chrome, and the links i the body don't have the jump-back possibility.

if you go

[2021-11-30 12:14] knotenpunkt opened #168 "A few ideas to improving SpectaQL"
hey, in that issue i want to collect a few ideas from me, what would be nice having in SpectaQL

- SortFunction: So i can sort the the Shema-operations/Types/.... alphabetically or in some other way
- Group possibility light: To package operations in logical groups and the same for the Types and so on (but letting them in their root-group operations and types)
- Group possibility advanced: To pack

[2021-11-30 18:51] newhouse commented on #147
Ok @VaishakVk I've just merged [this PR](https://github.com/anvilco/spectaql/pull/166) and published the changes in `v0.10.0` that add an [`inputFieldProcessor` hook](https://github.com/anvilco/spectaql/blob/main/examples/customizations/examples/index.js#L102) to the set of examples processors that you already know about.

If you update / pull the latest version of the code, you should be able to

[2021-11-30 19:01] newhouse commented on #160
DociQL was a really great base/starting point, and this project would not exist without it...but I'm glad you like the work I've done in SpectaQL!

OK, looks like you're using our own documentation as the example. If I actually _click_ on the `User` Query link in the lefthand nav area, I end up with a URL like this in the browser: `https://www.useanvil.com/docs/api/graphql/reference/#operation-cur

[2021-11-30 22:54] newhouse commented on #160
@knotenpunkt

The best I can do for you is allow you to turn on the [`deepLinking` feature in the `Traverse` code](https://github.com/anvilco/spectaql/blob/main/app/javascripts/traverse.js#L48) if you so choose, by allowing arbitrary JavaScript of your choosing to be bundled up with your build.

This PR allows for this behavior: https://github.com/anvilco/spectaql/pull/169

How it would work:
1. C

[2021-12-01 07:06] VaishakVk commented on #147
Thank you, works good now. Closing the issue.

[2021-12-01 07:06] #147 closed

[2021-12-01 12:25] knotenpunkt commented on #160
Ah yeah, that would be nice too having that.

Ah i see, you did there something else then i did.

I opened the page from you and then i don't navigate to the currentUser-Query-operation, but i scrolled a little bit down getting/seeing it.

And then i did what you described next, i clicked on that user field and jumping back to the position i scrolled before doesn't work.

Maybe you have to save be

[2021-12-01 12:29] knotenpunkt commented on #168
Ok i saw that you still have some mechanism to filter out information :+1:

Maybe one additional idea to the grouping, but not a replacing idea of that feature^^:

- The possibility to add related links to an type, seeing there a list of operation which use this type.

[2021-12-01 19:29] newhouse commented on #160
It all seems to work for me, and if you'd like the history to change as you scroll around you can use the approach mentioned in [this comment](https://github.com/anvilco/spectaql/issues/160#issuecomment-983091394).

Closing this for now.

[2021-12-01 19:29] #160 closed

[2021-12-11 15:39] ab-tools commented on #168
Adding grouping options would be really great, I just wanted to make the same suggestion when I found your issue here. ;-)

[2021-12-11 15:40] ab-tools commented on #168
Guess grouping is the same request than this one here actually:
https://github.com/anvilco/spectaql/issues/101

[2021-12-11 15:42] ab-tools commented on #101
A way of grouping would be great, but please also incorporate types in this regard (not only queries/mutations).

[2021-12-20 01:47] louisa-ba commented on #111
That would be awesome having a playground would be good too.

[2021-12-20 01:48] louisa-ba commented on #168
Having a playground/sandbox option

[2021-12-20 01:50] louisa-ba commented on #87
I would like to see this too

[2021-12-20 16:32] newhouse commented on #168
@louisa-ba can you elaborate a bit more on what you mean and would to see?

[2021-12-30 20:45] mbreslow opened #184 "spectaql dowsn't work with Amplify schemas out of the box"
spectaql doesn't work with Amplify schemas that include AWS directives unless your schema file includes those directives. The GraphQL parser fails to validate the schema file because it doesn't know about these extensions.

In case others are having this issue, one solution is to include the definitions of the directives in your schema. I created a file for that and am simply listing it as the fir

[2021-12-30 23:02] newhouse commented on #184
@mbreslow
So I can understand this issue better, how are you providing SpectaQL with your schema? SDL file? Introspection URL? Introspection results JSON?

Could you provide it, or a cleaned/simplified version of it?

I'm wondering how it was provided things that used directives, but not the directive definitions themselves.

[2021-12-30 23:06] newhouse commented on #184
Perhaps directives should be stripped out of the schema by SpectaQL until I can give some thought towards how to properly support them.

[2021-12-31 01:16] mbreslow commented on #184
Hi @newhouse . It is a file like [this one](https://github.com/aws-samples/aws-amplify-graphql/blob/master/schema.graphql) but mine has many more types defined. Not how in the linked amplify example there are @model and @auth directives.

This [amplify docs](https://docs.amplify.aws/cli-legacy/graphql-transformer/directives/) URL lists all of the directives that Amplify supports.

[2022-01-07 09:08] NGuldager opened #186 "Unexpected token f in JSON at position 1"
Hi.

Seems like I'm getting a very similar issue as in https://github.com/anvilco/spectaql/issues/83, but it should've been resolved on 16 Sep 2021

I'm getting the following error:
[code]

Schema: [schema.txt](https://github.com/anvilco/spectaql/files/7827743/schema.txt)

Config:

[code]

Anything I'm doing wrong? Or anything I'm missing?

Full stack trace:
[code]

[2022-01-07 17:27] newhouse commented on #186
Similar to #83 this looks to be an issue with `graphql-2-json-schema`. Could you open an [issue over there](https://github.com/charlypoly/graphql-to-json-schema/issues), please, and I'll have a look ASAP?

[2022-01-18 18:16] mbreslow opened #193 "Unclear how to change CSS of generated documentation"
Hi. I'm using the NPM installed package (not the git clone). I'm unable to figure out how to add CSS overrides so I can control the look and feel of the generated docs.

[2022-01-18 18:46] knotenpunkt opened #194 "Feature Request: Modals"
hey it would be nice if we can show parts of the documents (additional) in a Modal-View.

So the Scalar-Types for example can be shown in a Modal. If i click on String i dont fly to the position, where the String-Scalar is described, but the String-Scalar information is shown in a Modal.

This coould be also be done for other informations, normal types and so on.

The question hiere is when i jump

[2022-01-18 18:57] knotenpunkt opened #195 "Feature-Request: Scoped Views instead of grouping"
Scoped View:

Instead of grouping elements in the sidebar to something logical, we could have a by me so called scoped-view.

the User, who reads the document can select - for example via a dropdown list - a certain scoped view.  And then only the parts, which belong to that view are shown. The sidebar shrinks then to that parts and also the whole page. The other elements are just hidden.

There c

[2022-01-18 18:59] knotenpunkt commented on #168
I've added maybe two interessting more feature-requests:
see (Modals) #194 and (Scoped Views) #195

it would replace the normal grouping-feature

[2022-01-18 19:03] newhouse commented on #193
@mbreslow I'm sorry to report that for now, via the `npm`/`npx` route, this is going to tough.

I'm in the middle of re-writing a lot of SpectaQL and tidying up a bunch of spots (like this) that I'm not happy with as new `1.0` release...SpectaQL is still in `0.x`, as you can see. So if you can wait a bit (a few weeks, probably yet), that's an option.

While there are probably several ways to get t

[2022-01-20 08:44] aryawpratama opened #196 "[Question] How to add Subscription into Documentation?"
How to introspect Subscription? I have several endpoint in Subscription but it won't appear

![image](https://user-images.githubusercontent.com/75900371/150303599-18c2a137-daad-48c2-8029-c7a46f3dc005.png)
![image](https://user-images.githubusercontent.com/75900371/150303810-2919b67c-c1cc-4390-a5ca-58d6cf9dbab3.png)

[2022-01-20 17:16] newhouse commented on #196
@aryawpratama Unfortunately, for the moment, this is not possible. I'll do my best to add it ASAP to either `0.x` or `1.x` versions. In the meantime, I will keep this issue open as a reference.

[2022-01-22 08:31] aryawpratama commented on #196
@newhouse Thank you!

[2022-01-23 11:20] itizarsa opened #197 "feature request: environment variable usage in config.yml"
I would like to raise a feature request to use the environment variable in config.yml.

By the way, spectaql is really great. Thanks a lot!

[2022-01-31 07:25] itizarsa commented on #101
@newhouse I think exploring how Dociql achieve this might give us some idea.

[2022-01-31 07:27] itizarsa commented on #168
@newhouse I think he meant something like GraphQL playground or Apollo Studio integrated into Spectaql

[2022-02-01 14:51] philipp-schmidt opened #203 "Queries and Mutations returning Unions are not shown"
We have a few Queries that return Unions which do not seem to appear in the docs. The Union Types on the other hand are correctly displayed as per issue #62 .

Any chance this can be implemented?

And thanks for the great tool, very much appreciated! Works flawlessly for us apart from this small issue.

[2022-02-03 17:50] stevefusaro opened #204 "Unexpected token l in JSON at position 1"
You can reproduce this error using the following schema.gql file

[code]

When I wrap `{ limit: 10, offset: 0 }` in quotes the error goes away but this is an issue because our backend service code fails when we do that. This issue looks very similar to https://github.com/anvilco/spectaql/issues/83. I considered creating this issue in the `graphql-2-json-schema` repo but I figured I'd start here.

[2022-02-04 23:12] jcuna commented on #186
I downgraded `graphql-2-json-schema` to 0.7.0 and 0.8.0 manually and issue still persists

[2022-02-04 23:40] jcuna commented on #186
In my case, It actually works with a previous version of the `schema.gql` file. So there must be something that Apollo is actually adding to the output `gql` file that is not compatible with `graphql-2-json-schema`. All my tools currently mark the `.gql` file as valid. I'll keep digging and will update back.

[2022-02-05 00:05] newhouse commented on #186
Can you provide the 2 files - 1 that works and 1 that does not?

I'm pretty sure that `graphql-to-json-schema` simply is not expecting / supporting what it's encountering because it's a bug there. This type of thing has come up before.

[2022-02-05 00:15] jcuna commented on #186
I'm unable to show the schema as it's proprietary. I will continue to dig into it and provide relevant details as they become available.

[2022-02-05 00:59] jcuna commented on #186
The problem I'm having arises from having default values for complex object types (non scalar). For example, the following syntax is a valid graphql syntax.
[code]
however, `graphql-2-json-schema.fromIntrospectionQuery`,  is unable to parse it with an error in the likes of `SyntaxError: Unexpected token r in JSON at position 1`

[2022-02-05 15:39] jcuna commented on #186
I opened an issue over at graphql-to-json-schema https://github.com/charlypoly/graphql-to-json-schema/issues/67)(https://github.com/charlypoly/graphql-to-json-schema/issues/67

[2022-02-08 23:25] sjtommylee opened #206 "Adding Markdown file to x-introItems"
New to spectaql, and really enjoying the experience so far.

Is there a way to add markdown files in the description of the x-introItems?
I have some copy for the documentation that I would like to keep in a separate file, and read from it instead of having the raw text inside of the description.

`
x-introItems:
   - title: some title
   - (import MD with copy file here)
`

[2022-02-09 11:16] ledburyb commented on #206
I'm also wanting to use something like this, I had a go at a PR but I'm not familiar enough with the codebase to work it all out.

[2022-02-09 17:15] AubSs opened #208 "[Feature Request] Split SideBar"
Problem: When a project have 10000+ Type/Scalar/Enum/Input/.... sidebar goes unusable.

Solution requested: Split sidebar by type (cf: Github doc)

From:
[code]

To:
[code]

https://docs.github.com/en/graphql/reference/mutations

<img width="317" alt="Screenshot 2022-02-09 at 18 15 06" src="https://user-images.githubusercontent.com/10529080/153253851-f62619b5-eb61-4c86-ba1d-dd05739e3e6a.png">

[2022-02-10 18:15] patrickbosch-trilogy commented on #203
We face this issue quite extensively as our schema uses unions a lot for results. Support for this would be greatly appreciated.

[2022-02-10 23:56] knotenpunkt commented on #208
@AubSs
what do you think about these feature-request: #195
and this one?: #194

[2022-02-11 18:35] newhouse commented on #203
I've identified the issue and should be able to get a fix out today. I'm actually traveling / vacation but it's been a good plane project. ✈️

[2022-02-11 22:50] newhouse commented on #203
Fixed and released in `0.12.0`

@philipp-schmidt @alaa-nassef @patrickbosch-trilogy

[2022-02-12 11:45] alaa-nassef commented on #203
Thanks @newhouse. I confirm that the issue is fixed. I really appreciate the quick response and fix

[2022-02-14 08:42] patrickbosch-trilogy commented on #203
Also, thanks from me, it works splendidly!

[2022-02-14 11:45] philipp-schmidt commented on #203
Awesome, thanks!

[2022-02-15 08:39] itizarsa opened #210 "Why dependencies are not updated?"
When I run the npm run audit, spectaql has a few vulnerable dependencies.

I can also see bots have created PR for bumping dependencies.

Is there any reason not to upgrade the dependencies?

[2022-02-16 20:56] newhouse commented on #210
I recently went through and updated as many of the dependencies that I could that were "easy".

However, not everything is up to date because:

1. Some of the remaining dependencies are "major" updates with breaking changes that are non-trivial to adjust
2. I am in the process of re-writing a lot of SpectaQL, and will then be able to hopefully remove some of the offending dependencies
3. Dependabo

[2022-02-17 08:34] ccc-zachary-leigh opened #211 "Syntax Error: Unexpected <EOF>"
Hello. I am testing this package out with the following config and schema file:
[code]

[code]
When running `npx spectaql config.yml` I get the following error:
[code]
Even when the schema file is empty the error occurs.

On version 0.12.0 on Ubuntu. npm version is 6.14.6.

[2022-02-18 01:24] itizarsa commented on #210
@newhouse Thanks for the reply. As a user of your work, I would like to contribute to this library.

I am happy to take up small work to understand how the library works and then would be able to contribute to big things. Also, it would be better if you could tell me where to look to understand how the library works internally.

Should I fix any breaking changes introduced while updating old depen

[2022-02-18 15:34] AubSs commented on #208
@knotenpunkt  scoped-view seems to be a good idea !

[2022-02-28 18:05] pylipp commented on #211
It seems that spectaql does not recognise the `.gpl` file extension (might be a typo anyways?). This config works on my end:

[code]

[2022-03-01 02:25] ccc-zachary-leigh commented on #211
Thank you @pylipp, I think the typo was the issue. Working now. Feeling pretty stupid :sweat:

[2022-03-01 07:04] itizarsa opened #217 "[Feature Request] Ability to add headers"
I would like to request the ability to add required headers to make requests to the API as part of the documentation.

For example, along with the information available in API endpoints, the possibility to add required headers will be really helpful.

[2022-03-01 17:51] newhouse commented on #217
@itizarsa thanks for writing in!

Are you referring to:
a) headers which could/should be added to queries/mutation calls by your users against your GraphQL API
or
b) headers which need to be added to the introspection query performed by SpectaQL against your GraphQL API (e.g. authorization headers) in the process of building the documentation

I suspect you're referring to (a), as (b) is already s

[2022-03-01 17:52] newhouse commented on #211
Don't feel stupid! It's a pretty worthless/unhelpful error message. I'll see if I can't detect this scenario and provide a more useful error message. Re-opening for now.

[2022-03-01 17:53] newhouse commented on #211
Thank you @pylipp for your help on this one!

[2022-03-02 18:22] newhouse commented on #186
Working on fix: https://github.com/charlypoly/graphql-to-json-schema/pull/69

[2022-03-04 11:07] amaleszewski opened #219 "Show all properties instead of fragments"
Hello! Thanks for your library, it's really great! But I have one question with which I'm struggling. I don't want to show in my examples a `...Fragment` properties, but every property from the model. Is that possible to achieve?

![image](https://user-images.githubusercontent.com/22931942/156752515-b76aa0ac-2482-48af-864c-2be8b3b574a6.png)

Look at this example, instead of `...OrderResponseFragme

[2022-03-04 14:01] Qsto33 commented on #219
I must really say I agree here. My life without this feature is really dull. I tried to move on but I cant...

[2022-03-04 17:58] #186 closed

[2022-03-04 17:59] newhouse commented on #186
@jcuna fixed and published in `0.14.0`...thanks for your patience!

[2022-03-04 18:01] newhouse commented on #186
cc @NGuldager

[2022-03-04 18:01] jcuna commented on #186
Thank you for tackling this. Appreciate your time.

[2022-03-04 18:32] newhouse commented on #219
Yes, I like this, too, as an _option_, but perhaps not the default.

The tricky part is that depending on your schema - specifically the number of fields on the return type - the output when expanding recursively deep can be very long...too long...and that's why by default it will only expand the top-level depth. I think it works well for people as the default.

However:
1) I'll noodle on ways to

[2022-03-07 02:53] ccc-zachary-leigh commented on #211
Thank you @newhouse !

[2022-03-07 06:31] louisa-ba commented on #168
The ability to enter demo apikey and to send sample payload for an operation

https://github.com/graphql/graphql-playground

I have seen this in a lot of restful apis and it's very helpful.

[2022-03-07 06:33] louisa-ba commented on #196
I would be super keen on this feature :)

[2022-03-07 06:44] louisa-ba commented on #87
I made a PR for graphql-scalars you could do something similar for Apollo Upload. https://github.com/anvilco/spectaql/pull/176/files

[2022-03-07 09:11] mielvds opened #221 "HTTP information?"
Can you somehow enable Spectaql to also include the HTTP request/response information like OpenAPI/DociQL do?

[2022-03-07 09:25] mielvds opened #222 "[Feature request] make labels configurable"
Would it be possible to make the labels configurable to for example support the docs in a different language?

[2022-03-07 10:05] amaleszewski commented on #219
Thanks for your response. I think option for configure it globally will be the best, and then for example you can add a "+" button at the left side of properties which could be expanded, like **items** or **pageInfo** in my case. Then it could be dynamically expanded by user on click (collapsed or uncollapsed by default, also configurable).

About the recursively deep expanding, then you can for e

[2022-03-07 20:27] newhouse commented on #196
I have added support for this in `1.0.0`...but it's not "out" yet:
https://github.com/anvilco/spectaql/pull/225

[2022-03-07 21:32] newhouse commented on #221
@mielvds can you please be more specific? I don't quite understand...

[2022-03-07 21:38] mielvds commented on #221
Hi @newhouse ,

I mostly mean the statuscodes you can expect and what they mean. Or examples of POST or GET requests, what headers need to be set, etc. Also a way to document possible custom headers or query parameters like for authentication purposes. I know most of this is fixed by the graphql protocol, but in my experience, the more complete and self-contained the documentation, the better.

[2022-03-07 22:18] newhouse commented on #211
Will be supported in `1.0.0` when it comes out.

[2022-03-07 22:22] newhouse commented on #204
Duplicate of https://github.com/anvilco/spectaql/issues/186

Fixed by https://github.com/anvilco/spectaql/pull/220.

Fix is out in `0.14.0`

[2022-03-07 22:22] #204 closed

[2022-03-07 23:26] newhouse commented on #206
Will be supported in `1.0.0`, which is not out yet.

Fixed via https://github.com/anvilco/spectaql/pull/227

[2022-03-07 23:27] newhouse commented on #222
I suppose I already know what you mean, but can you provide a few examples?

[2022-03-07 23:43] newhouse commented on #184
Hmm, yeah, I mean, you're not providing a complete schema SDL to SpectaQL so it makes sense that the GraphQL parser would fail when it sees directives like `@model` used that have not been defined.

From where I'm standing, I think you've just got to include those directives in your SDL...or remove the usage of them from your SDL. Does Amplify provide any hooks for getting the final, merged SDL or

[2022-03-07 23:45] newhouse commented on #90
@nivo33 thank you very much for your PR and interest in SpectaQL. As I've mentioned around, I'm nearly done with a big re-write of SpectaQL that will include this capability, so I'm going to close this.

Thank you for your effort though!

[2022-03-07 23:45] #90 closed

[2022-03-08 02:24] louisa-ba opened #228 "Graphql-scalars documentation support"
Feature request

GraphQL Scalars graphql-scalars is an extension of Base Graphql types. It is a popular library with 181,071 weekly downloads. I have created some code to support generating documentation for the scalars.
https://www.graphql-scalars.dev/

https://github.com/anvilco/spectaql/pull/239

[2022-03-08 09:47] AxelUlmestig opened #230 "How do you blacklist queries?"
According to the list of features you can

I would like to hide some queries in the documentation. I can't find any other reference to how you do it.

Thank you :)

[2022-03-08 17:35] newhouse commented on #230
Hi @AxelUlmestig and thanks for using SpectaQL!

All queries can be hidden via [this](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L147) or [this](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L150) config option.

What you probably want to do is hide individual queries, and that's done via providing the appropriate "metadata" to SpectaQL. The documentation f

[2022-03-08 17:35] #230 closed

[2022-03-10 01:42] JeromeErasmus commented on #58
Yeah can anyone give a working example of what the scss override folder structure should look like please?

not haveing any luck here either

[2022-03-10 01:45] JeromeErasmus opened #236 "CSS customization issues"
Hi guys,

Would anyone here be able to provide a working example of the SCSS override folder hierarchy please?

Im trying to do a simple thing to add one custom CSS class to compile with the rest of the scss files

[2022-03-10 01:48] JeromeErasmus commented on #193
If I understand this right, what you are suggesting as a temporary workaround is to override the core model code to customize the scss files?

[2022-03-10 04:02] newhouse commented on #193
@JeromeErasmus That's _an_ option. The less invasive/icky one is to overwrite the `spectaql.min.css` in your output directory with a custom CSS file you've created. I suggested using the default generated CSS as a starting point. It's not ideal, I know.

I am working on a pattern for this that feels right before I commit to exposing something in the API that I will regret.

[2022-03-10 04:05] newhouse commented on #236
Can you provide a simple example of what you're trying to add?

I mean, I can guess at the idea, but rather than guess it'd be better to confirm the exact use case you mean. I'm trying to understand more what people are exactly trying to do.

[2022-03-10 23:27] newhouse commented on #236
This is now supported in `0.15.0`, thanks to changes in [this PR](https://github.com/anvilco/spectaql/pull/237), via the [`additionalCssFile`](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L14) YAML config option, or via the [`--additional-css-file`](https://github.com/anvilco/spectaql/blob/main/bin/spectaql.js#L59) CLI option.

Closing for now, but let me know if you have any m

[2022-03-10 23:27] #236 closed

[2022-03-10 23:28] newhouse commented on #193
This is now supported in `0.15.0`, thanks to changes in [this PR](https://github.com/anvilco/spectaql/pull/237), via the [`additionalCssFile`](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L14) YAML config option, or via the [`--additional-css-file`](https://github.com/anvilco/spectaql/blob/main/bin/spectaql.js#L59) CLI option.

Closing for now...

[2022-03-10 23:28] #193 closed

[2022-03-10 23:29] newhouse commented on #58
This is now supported in `0.15.0`, thanks to changes in [this PR](https://github.com/anvilco/spectaql/pull/237), via the [`additionalCssFile`](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L14) YAML config option, or via the [`--additional-css-file`](https://github.com/anvilco/spectaql/blob/main/bin/spectaql.js#L59) CLI option.

[2022-03-10 23:29] #58 closed

[2022-03-13 19:22] mcwoodle commented on #111
I currently work with a custom fork of DociQL, and find it in general a pain, I'm not sure of how different spectacle is, but I think there's a strong need to create a simpler and more easily maintainable solution.

Have you started on anything for this idea? I want to get off DociQL and looking for an optimal solution.

[2022-03-13 20:30] newhouse commented on #111
@mcwoodle

There is an `rc-1.0.0` branch that I have been working a lot on lately. It's still a WIP but is getting closer: https://github.com/anvilco/spectaql/pull/232

It rips out pretty much all the swagger stuff and much of the DociQL stuff as well.

I'm still hoping to clean up some the API and names, as well as significantly clean up the HTML structure (organization, class names, etc) and acc

[2022-03-14 06:17] louisa-ba commented on #210
A lot of the warnings seem to come from grunt maybe look at using an alternative build tool like webpack?

[2022-03-17 12:43] knotenpunkt commented on #195
@newhouse i saw that this one isn't marked yet.
don't you think this is a good feature?

[2022-03-17 12:43] knotenpunkt commented on #194
@newhouse what you mean with triaging?

[2022-03-17 19:54] newhouse commented on #195
It's not that I don't think this is a good feature, but:
- I am super busy with a huge re-write: https://github.com/anvilco/spectaql/pull/232
- This re-write will include the ability to do something kind of like this. See the "Dynamic Data Arrangement" capability
- Since it is not immediately obvious to me how valuable this is compared so other work I might do on this project, I would probably wai

[2022-03-17 19:55] newhouse commented on #194
It means I'm thinking about it and its implications and difficulty, etc. There are a lot of things I could do, and I have limited time. I'm letting this one simmer a bit.

[2022-03-18 08:31] mapkyca opened #248 "Feature request: Automatically generate code example"
I had a look and couldn't find an example of doing this, but it would be really cool if we could automatically generate a cURL (or php or ruby) code example for queries and mutations, in a similar way as postman docs.

[2022-03-19 15:58] newhouse commented on #248
Is there any library out there already for doing this easily in documentation?

If there was such a library that would make it easy then I'd be much more inclined to consider doing it.

 @mapkyca

[2022-03-19 16:07] newhouse commented on #248
Maybe [httpsnippet](https://www.npmjs.com/package/httpsnippet)?

[2022-03-19 22:10] mapkyca commented on #248
That looks like it could work!

[2022-04-01 00:39] newhouse commented on #228
This is now out in `1.0.0`

[2022-04-01 00:39] #228 closed

[2022-04-01 00:41] newhouse commented on #211
This is now out in `1.0.0`

[2022-04-01 00:41] #211 closed

[2022-04-01 10:53] finnure opened #257 "Config file not found"
When running `spectaql apidocs.config.yml` using version 1.0.0 I now get an error saying apidocs.config.yml does not exists. spectaql expects the config file to be in the node_moduesl/spectaql folder instead of the project root folder.

![image](https://user-images.githubusercontent.com/89914707/161249953-71333e20-0ac5-4de5-bf89-b5e85eaae5b7.png)

[2022-04-01 11:58] kov1fer opened #258 "Cannot find module: index"
When I"m trying to run spectaql, the floowing error has appeared:

![image](https://user-images.githubusercontent.com/70896378/161258670-41c4abcb-d1a9-42ab-b325-966ddbd7c72f.png)

What should I do to eliminate this error?

[2022-04-01 17:15] newhouse commented on #258
@kov1fer can you provide me a simple/sanitized copy of your `config.yml`?

The "doubling up" of the full path in the image suggests that it probably has to do with path resolution and the fact that you appear to be on Windows and not *nix.

![image](https://user-images.githubusercontent.com/2524009/161311010-c9dacb61-1eda-49d7-8db7-dcc65fc53ed7.png)

[2022-04-01 17:21] newhouse commented on #258
Also, what version of Node are you on?

[2022-04-01 17:31] newhouse commented on #258
I think I just fixed the problem in `1.0.1`...can you try installing that version?

[2022-04-01 17:35] newhouse commented on #257
Ugh, sorry, will fix. For now, if you put a full path to your file, things should work:
`spectaql /full/path/to/apidocs.config.yml`

[2022-04-01 18:13] newhouse commented on #257
@finnure @mxseev

Please try again with `1.0.2` and let me know if things are working?

[2022-04-01 18:23] mxseev commented on #257
Yup, but another bug there

[code]

[2022-04-01 18:33] newhouse commented on #257
@mxseev

Double-ugh. Bad publish. Please try `1.0.3`?!

[2022-04-01 18:42] mxseev commented on #257
Is glob support for input files removed in 1.0?

[code]

[2022-04-01 20:55] newhouse commented on #257
@mxseev fixed in `1.0.4`.

[2022-04-01 21:02] mxseev commented on #257
And everything is working great!
Thank you very much, it was a pleasure to participate.

[2022-04-01 21:11] #257 closed

[2022-04-01 21:44] newhouse commented on #208
I'm not sure this is such a great idea to make the default, but this behavior is now possible via the "themes" API in SpectaQL `1.0`.

If you create directory with the following structure: `{ data: [ 'index.js] }` and then provide the path to that directory as the `themeDir` option, you should be able to customize it to do what you want.

Here's a starting point for your `/path/to/your/theme/data/

[2022-04-01 21:44] #208 closed

[2022-04-01 21:45] newhouse commented on #196
This is now out in `1.0` as part of the default theme.

[2022-04-01 21:45] #196 closed

[2022-04-01 21:47] newhouse commented on #195
[This issue](https://github.com/anvilco/spectaql/issues/208
) highlights how a lot of what you're asking for can be implemented by anyone who would like this behavior.

Since it's not immediately clear to me that this should be a default, I am going to close this for now.

[2022-04-01 21:47] #195 closed

[2022-04-01 21:48] newhouse commented on #111
This is now done in `1.0`!!!

[2022-04-01 21:48] #111 closed

[2022-04-01 21:49] newhouse commented on #101
You can now customize your data arrangement via "themes" in SpectaQL `1.0`. [This issue response](https://github.com/anvilco/spectaql/issues/208) shows a good starting point for how you can accomplish it.

[2022-04-01 21:49] #101 closed

[2022-04-01 21:50] #2 closed

[2022-04-01 21:50] newhouse commented on #2
Unnecessary now in `1.0` thanks to themes.

[2022-04-01 23:55] kirudenk opened #262 "Can't compile handlebars for URL scalar property from .gql schema"
I have a custom scalar `URL` and a type that uses it:
[code]
When trying to generate docs for that schema using config.yml from the examples I get this error:
[code]

When I change course to:
[code]
everything works. Also I didn't have that issue with 0.15.0 version. Thanks!

[2022-04-02 01:24] #262 closed

[2022-04-02 01:28] newhouse commented on #262
Should be fixed in `1.0.5`...

[2022-04-02 09:49] itizarsa commented on #217
@newhouse I refer to (a), headers like Authorization which is common for all queries & mutations.

[2022-04-04 13:21] mcwoodle commented on #111
Thank you, @newhouse!

Our fork is for some custom internal integrations to add some extra links into the docs for finding source resolver info that's specific to a custom GQL server implementation we use. Nothing particularly useful for the community as a whole on its own.  However, a pluggable/extensible architecture could go a long ways in making it easier to extend v. fork in the future (if it

[2022-04-04 13:50] KeGaWeb opened #265 "Examples from graphql-scalar have wrong behaviour"
Hi there !

I just updated to last version (1.0.5), and now I'm facing issues with scalar examples.
Examples are shown as Array, meaning with a String scalar it shows: `["abc123", "xyz789"]`.
I expected it to work just as `examples` in the metadata files : one random value being used during generation.

NB: this doesn't occur when `graphqlScalarExamples: false`.

[2022-04-04 16:36] kirudenk commented on #262
@newhouse Thanks!

[2022-04-04 17:51] newhouse commented on #111
@mcwoodle you might be able to accomplish what you want with:
- [Intro Items](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L316)
- Or, by creating a lightweight ["theme"](https://github.com/anvilco/spectaql/tree/main/examples/themes) of your own where you edit/add the appropriate Handlebars template file.

Good luck!

[2022-04-04 18:44] #265 closed

[2022-04-04 18:46] newhouse commented on #265
Should be fixed in `1.0.6`...sorry/thanks!

[2022-04-04 18:49] newhouse commented on #217
This is now possible via either:
- The `server.headers` array in the config: https://github.com/anvilco/spectaql/blob/main/config-example.yml#L272
- [Themes](https://github.com/anvilco/spectaql#customizing-css-js-html-and-data-arrangement-via-themes).

[2022-04-05 07:39] JeromeErasmus opened #276 "Invalid or incomplete schema, unknown type: Mutation. Ensure that a full introspection query is used in order to build a client schema."
Hi I'm getting the below error when trying :

[code]

Generating the docs from introspection worked perfectly before `Release candidate 1.0.0`

I can still switch back to the previous version and the docs generate fine

Config file:
[code]

[2022-04-05 08:14] simoncoggins opened #277 "Unwanted capitalization of query name in examples in 1.0.5"
I've been experimenting with the 1.0 release, which is really excellent! We are looking to use SpectaQL for our docs and the release is really timely as it allows us to do the customisation we want without forking (both themes and the data customisation are exactly what we wanted). Thank you for all the great work!

I've spotted a few changes/issues from the previous version when we run it on our

[2022-04-05 08:44] simoncoggins opened #278 "Layout issues with schema with long query names in 1.0.5"
I have been testing SpectaQL on 0.15.0 and recently switched to 1.0.5. I've noticed some new layout issues that weren't there prior to 1.0. Most have to do with our (admittedly overly long) query and type names:

* Logo missing (HTML markup is there - 'sidebar-top-container' appears to have zero height)
* Long query names no longer truncated with ellipsis
* Long query names in heading overlap into

[2022-04-05 08:49] simoncoggins commented on #222
+1 from us.

In our case we want to provide guides and how-tos as additional 'pages' which we can now do under the Introduction heading via markdown files and external links (which is awesome!), but we'd like a different section heading name instead of 'Introduction' to describe them.

While we could override the template it is a shame to have to do that just to change this string - it means we ne

[2022-04-05 08:55] mielvds commented on #222
@simoncoggins would I18n cover your use case? If yes, I can perhaps draft a PR. If not, more design is needed first.

[2022-04-05 08:58] simoncoggins opened #279 "Custom scalar examples from metadata.json no longer used in 1.0.5"
Our schema has a number of custom scalars such as:
[code]

In 0.15.0 we were able to define examples for them in a metadata.json file:

[code]
and have that show up under the scalar description example in the documentation.

In version 1.0.5 that is no longer working - the same schema file and metadata.json description no longer results in the provided example (e.g. the example displays 'param_int

[2022-04-05 09:03] simoncoggins opened #280 ""Error: EISDIR: illegal operation on a directory" when using -T flag"
I've installed spectaql 1.0.5 on OSX via the command:

[code]

If I provide a custom theme directory via the config.yml file:
[code]

it works fine and picks up the custom theme but when I try to specify the same theme path via the -T flag I get an error:

[code]

[2022-04-05 09:08] simoncoggins commented on #222
Yes I think so, we could just change the 'en' string.

[2022-04-05 09:09] finnure opened #281 "Interpolation for queries not working"
With the new update, interpolation for links to Queries and Mutations no longer resolves to the correct link. Links to Types still works.
`{{Queries.getSampleData}}` resolves to `#operation-getsampledata-Queries`
but should resolve to `#query-getActiveCustomers`

[2022-04-05 13:45] kov1fer commented on #258
Unfortunately your solution isn't solved the issue. About one and a half month ago, I have been able to use this fantastic tool, but now I cannot. Please, examine the real problem of this issue.

![image](https://user-images.githubusercontent.com/70896378/161767696-f4b03030-0e49-41fc-82b3-3168cf6b5c83.png)

[2022-04-05 17:25] newhouse commented on #258
@kov1fer
Can you provide your config and any other files used by it, please?

[2022-04-05 18:42] newhouse commented on #276
@JeromeErasmus
Very sorry - Can you please provide your Introspection Query Results from the `http://localhost:8181/graphql` call? It will be hard to diagnose without that.

[2022-04-05 20:26] simoncoggins commented on #277
That's perfect, thank you!

[2022-04-05 22:04] #279 closed

[2022-04-05 22:30] #280 closed

[2022-04-05 22:48] #281 closed

[2022-04-05 22:51] newhouse commented on #281
Should be fixed in `1.0.8`.

[2022-04-05 22:51] newhouse commented on #280
Should be fixed in `1.0.8`.

[2022-04-05 22:51] newhouse commented on #279
Should be fixed in `1.0.8`.

[2022-04-05 22:51] newhouse commented on #277
Should be fixed in `1.0.8`.

[2022-04-05 23:21] newhouse commented on #278
Thanks @simoncoggins for all the things you found and issues you've filed!

I've fixed most of them today, and we're working on this ticket here still/now.

1 question: I'm not sure what you're pointing out about the Logo missing part? Logo specification appears to be working properly through both the CLI and YAML patterns. Are you saying you've specified the logo, but it's just not showing up? Or

[2022-04-05 23:33] simoncoggins commented on #278
I've specified the logo in my config.yml but it's not being displayed. It used to show up in 0.15.0 but isn't appearing any more. When I look at the HTML/CSS the 'sidebar-top-container' div, 'logo' div and img tag are all there in code but the height of the elements seems to be zero which seems to be why they aren't visible.

<img width="1226" alt="Screen Shot 2022-04-06 at 11 32 12 AM" src="https

[2022-04-05 23:50] #278 closed

[2022-04-05 23:53] newhouse commented on #278
Should all be fixed in `1.0.9`...can you try @simoncoggins ?

[2022-04-06 00:45] simoncoggins commented on #280
Can confirm this is fixed (tested in 1.0.9). Works with -T or --theme-dir and with theme names or a path.

[2022-04-06 00:46] simoncoggins commented on #279
Confirmed this is fixed (tested in 1.0.9). Custom scalar docs are now showing and the second issue (using custom scalar examples when the type is used elsewhere) seems to be working too, which is awesome, thanks!

[2022-04-06 00:53] simoncoggins commented on #277
Tested in 1.0.9 and it's fixed. Defaults to no change to query name but you can set to a few different strategies in config.yml and it works.

[2022-04-06 01:06] simoncoggins commented on #278
Tested in 1.0.9 with both default and spectaql themes and can confirm:

* Logo is showing again
* Long names in navigation are truncated
* Long names in headings are truncated in spectaql theme and fit fine in basic theme (don't overlap with examples)
* Truncation has fixed JS scrolling navigation issues
* Looks fine on mobile

Resize performance is definitely better due to debounce changes, it st

[2022-04-06 22:48] JeromeErasmus commented on #276
@newhouse I'll send you a LinkedIn request to get you the schema

[2022-04-08 21:12] newhouse commented on #210
Closing for now thanks to 1.0. May need to move away from grunt at some point, yes.

[2022-04-08 21:12] #210 closed

[2022-04-08 22:39] newhouse commented on #258
@kov1fer can you try using `spectaql@1.2.0-0` and see if that does it for you?  And if that doesn't work, can you try `spectaql@1.1.0-0`?

[2022-04-11 08:53] kov1fer commented on #258
You're great. Now, it works fine. Thank you for your support. :)

[2022-04-11 14:12] newhouse commented on #258
Fixed in `1.0.11` via https://github.com/anvilco/spectaql/pull/288

[2022-04-11 14:12] #258 closed

[2022-04-12 13:24] itizarsa opened #296 "Use tags for releases"

[2022-04-12 18:57] kirudenk opened #298 "Scroll-spy doesn't work correctly on Firefox"
Hello!
Apparently Firefox is treating differently `scrollIntoView` thus it causes a bug when selecting one of the bottom elements in the nav view page gets scrolled even further down from that element as if there is a recursive loop.
Thank you!

[2022-04-13 00:49] benogle commented on #298
Hey @kirudenk I was able to reproduce and it's a pretty simple fix (https://github.com/anvilco/spectaql/pull/299). We'll have a new release out soon with the fix.

[2022-04-13 00:56] #298 closed

[2022-04-13 00:58] newhouse commented on #298
@kirudenk should be fixed in `1.0.14`...

[2022-04-14 08:49] AubSs commented on #296
Hello, I think @itizarsa means that: https://git-scm.com/book/en/v2/Git-Basics-Tagging

(It's really useful for us to be able to "pin-point" a version with tags

[2022-04-14 12:07] pylipp opened #301 "Enum example data displayed with quotes"
In the example for an enum type field, the value is quoted which is incorrect GraphQL syntax. Below it should be `"state": InStock,` for the BoxState enum field.

![2022-04-14-140345_974x508_scrot](https://user-images.githubusercontent.com/10617122/163387180-dee1c417-2b41-45f7-aa0e-c67673f6d20d.png)

[2022-04-14 15:01] newhouse commented on #296
I've just uploaded all the tags, and will make it part of the process going forward. Closing this.

[2022-04-14 15:45] newhouse commented on #301
While I understand what you're trying to say, I'm a little on the fence about what is the "right" way to display the information here.

In "GraphQL syntax" I'm not sure there is a "correct" way to fully represent an example of a Type, but only to describe one.  Rather, GraphQL types do their best to describe or placehold the idea of a thing as it passes from the external system implementation (usu

[2022-04-15 15:08] newhouse commented on #219
Support for a `fieldExpansionDepth` option now exists and is out in `1.1.0`.

Closing.

[2022-04-15 15:08] #219 closed

[2022-04-15 16:26] newhouse opened #303 "Replace Grunt with ???"
SpectaQL uses Grunt to perform a lot of the tasks of compiling, concatenating, minifying, etc.

But Grunt seems to be sorta dead? Or at least some of the plugins used by SpectaQL are? This leads to security alerts that are not easy to address, and other problems.

Any suggestions out there for what to use instead of Grunt? Keep in mind the specific tasks that SpectaQL needs to perform:
- concatena

[2022-04-18 21:08] newhouse opened #311 "Allow specification of built-in theme to be overridden by custom theme"
Right now, the custom theme option will override the `default` theme. But what if a user wants to override the `basic` theme? Or `spectaql` theme?

[2022-04-19 12:57] aryawpratama opened #312 "[Request] Search endpoint field & Subscription menu position"
1. Search endpoint field
I think this is not urgently needed but I just wanna request endpoint search using text field.
I may search it using ctrl + f to find an endpoint but I don't like to use it, cause it's not as simple as it should be.

2. Subscription position
It would be easier to find it, if you put subscription menu below the mutations
![image](https://user-images.githubusercontent.com/75

[2022-04-20 15:27] sgabler-solytic opened #313 "Weird scrolling behavior makes docs unusable on Mac with Firefox"
When I use the example docs on https://www.useanvil.com/docs/api/graphql/reference/, the scrolling behavior is very weird for me, making the page basically unusable, or at least very frustrating.

I recorded a video of the behavior:

https://user-images.githubusercontent.com/55686147/164265989-10bbdd42-45fe-4346-aa91-4240a5bbc079.mov

What I'm doing:
- at the beginning of this video I'm scrolling

[2022-04-20 17:05] newhouse commented on #313
@sgabler-solytic thanks for pointing this out!

Actually, this behavior has been [fixed](https://github.com/anvilco/spectaql/pull/299) in SpectaQL `1.0.14`...we just have not rolled that out to our own site yet!

Going to close this for now as we'll get it fixed ASAP.

Again, thanks for reporting, but it should not be a problem with sites generated by the current version of SpectaQL.

[2022-04-20 17:05] #313 closed

[2022-04-20 20:15] benogle commented on #313
Hey @sgabler-solytic, the fix is out on our live docs. Thanks for the report!

[2022-04-20 20:47] sgabler-solytic commented on #313
Nice. Now it works perfectly on my machine with Firefox. Thank you!

[2022-04-26 14:13] iSarCasm opened #321 "[Request] Extending description using metadata"
Right now, we want to add a lot more information to the description. This is especially true for some of our Mutations which have complex validation logic. it would be great to have a way to either overwrite or append\prepend descriptions to specific items. Ideally, using markdown `.md` would be also great which makes it easier to store descriptions in separate files and add some formatting.

[2022-04-26 22:54] newhouse commented on #321
@iSarCasm you don't have the ability to put your desired descriptions right into the schema itself somehow?

I suppose I could add the ability to override the description via the `metadata`...but I don't know about using files for that...or maybe paths to files. It would of course support markdown in the text, but supporting file paths right now, to me, sounds like a bit of a stretch.

What if I c

[2022-04-27 10:34] albala99 opened #322 "Problem with sticky/fixed Navigation bar with scroll (Bug)"
- When we add a custom sticky/fixed Navigation bar
- on clicking the links on the left Sidebar
- it scrolls to the id linked but Navigation bar overlaps above the Title
- Refer the video

https://user-images.githubusercontent.com/61052566/165499306-a8304743-2e71-43cb-a935-cba1ae18ee56.mov

[2022-04-27 17:55] newhouse commented on #322
Hello @albala99 - just to confirm, this is a problem you're seeing on Anvil's website, right? But it's not a problem generally with SpectaQL when _you_ use it?

[2022-04-27 18:02] albala99 commented on #322
Hi @newhouse  , the same is happening if i use a custom nav bar in spectaql

[2022-04-30 18:51] Munoon opened #323 "Multiple schemas from folder"
As a user, I want to specify a folder, from which I want spectaql to load schema. It is uncomfortable for me to specify each GraphQL schema file by hand in the config file.

Here is an example: \
**config.yml**
[code]

**Files schema**
* config.yml
* graphql
  * graphql_schema_1.graphqls
  * graphql_schema_2.graphqls
  * graphql_schema_3.graphqls
  * ...

[2022-04-30 19:13] Munoon commented on #323
Currently it can be implemented by using following introspection js script:
[code]

[2022-05-02 14:08] mielvds opened #326 "Custom logo doesn't work in latest version"
Hi!

I use

[code]

But since the last update, that logo is no longer picked up. Did the key change, or is something else up?

[2022-05-02 14:22] msheluga opened #327 "filter out Sorting and pagination in bulk"
is there a way to define in the metadata.json to undocument all projections and filters?  I am looking for a way to undocument all TableNameConnection and TableNameEdge when it reads out sdl.
I was trying something like the following

{
    "OBJECT": {
        "Query":{
            "kind": "INPUT_OBJECT",
            "name": "FilterType",
            "documentation": { "undocumented": true }

[2022-05-02 17:18] newhouse commented on #323
@Munoon you should already be able to pass a directory/glob to the `schemaFile` value and it should work. Something like `./graphql/*.gql`.

Any glob supported by https://www.graphql-tools.com/docs/api/modules/load_files_src should work.

[2022-05-02 17:18] #323 closed

[2022-05-02 17:33] newhouse commented on #326
Hi @mielvds I believe the logo is working as intended, at least as far as I can tell. Are you on the latest version of SpectaQL?

The only thing that's perhaps changed is that if the path you provide is not an absolute path (i.e. it does not start with `/abs/path/to/file`) and is instead a relative path (e.g. `./path/to/file`), then the relative path is considered to be from the `cwd`...and not th

[2022-05-02 17:53] newhouse commented on #327
@msheluga

Try using the metadata JSON to hide the `TableNameConnection` and `TableNameEdge` Input Object types, and that will remove all references to those elsewhere in your schema.

Seem like this might work:
[code]

[2022-05-02 20:52] Munoon commented on #323
@newhouse it works only with schemas in specific folders. What if I also want to include sub-folders?

For example, I have multiple schemas in following folders:\
./graphql/schema-1.gql \
./graphql/schema-2.gql \
./graphql/sub/schema-3.gql \
./graphql/sub/schema-4.gql

Also, maybe it will be useful to add an example of the passing directory to `schemaFile` in the documentation.

[2022-05-03 07:40] mielvds opened #336 "1.X only displays one server"
This might be an intentional change, but in the previous version, all my endpoints in `servers` were displayed in the docs. This was quite nice, because we have staging and production environments of our APIs. Can you bring that back somehow?

[2022-05-03 07:54] mielvds commented on #326
Hi @newhouse, I did some more digging and it's a result of the new styling. My logo is SVG and is rendered with size 0x0 in firefox. Chrome and Safari do show it, but it's very tiny.

Switching off the following CSS rule fixes the issue:

[code]

[2022-05-03 14:18] msheluga commented on #327
I was using the tablename as a generic name, we have hundreds of these edges and connection edges I do not want documented.  is there a way to wildcard the name?  like "?Connection" :  { "documentation": { "undocumented": true } },

[2022-05-03 19:31] newhouse commented on #323
You'll have to try reading up on different glob patterns that are supported by that library. Typically something like `./graphql/**/*.gql` will work.

[2022-05-03 19:33] newhouse commented on #326
@benogle any thoughts on this one? I remember an SVG being a problem for me at one point, too.

[2022-05-03 19:43] newhouse commented on #327
@msheluga I'm sorry but there is not currently support for that.

I'm not sure how you are getting your schema to SpectaQL, but you have a few options that I see:
1. If you are pointing SpectaQL to a live endpoint via the `url` option: if you are able to pass your Introspection Query Response through a custom process of your own to add the correct metadata to it on its way out of your GraphQL serv

[2022-05-03 20:36] Munoon commented on #323
Thank you, that’s really work!

[2022-05-03 22:47] simoncoggins opened #337 "Missing reference interpolation breaks build"
I realise this is probably intentional at the moment but if the input schema contains a comment of the form ```{{text}}``` where text is not a valid reference the the build fails with an error:

[code]

We have a situation where someone used that syntax in a comment to refer to something else entirely:

[code]

we can change this reference of course but it opens us the possibility that developers

[2022-05-05 09:30] CarpenterJoseph opened #338 "config.yml introspection -> queryNameStategy spelling mistake"
Small issue, but queryNameStategy is spelled incorrectly in config.yml.

[2022-05-05 11:26] CarpenterJoseph opened #339 "Header tags opening and closing tags are not matching"
Closing header tags are sometimes h5

![Screen Shot 2022-05-05 at 13 24 33](https://user-images.githubusercontent.com/22171893/166913635-8d7743d2-0a18-4257-b143-a961e27c156d.png)
![Screen Shot 2022-05-05 at 13 25 52](https://user-images.githubusercontent.com/22171893/166913858-868264a5-a7ce-470f-a655-250d232d414d.png)

[2022-05-05 14:27] newhouse commented on #339
Thanks @CarpenterJoseph for checking out SpectaQL! One of these was recently fixed (but not published), but the other one is new to me, so thanks! Will fix.

[2022-05-05 14:31] #339 closed

[2022-05-05 14:44] #338 closed

[2022-05-09 21:32] jocrau opened #351 "Running the current version 1.1.3 fails"
Thanks for the rapid turnaround on the two PRs! More to come :-)

Unfortunately, the [current version](https://www.npmjs.com/package/spectaql/v/1.1.3) `1.1.3` fails with

[code]

[2022-05-09 22:13] newhouse commented on #351
Can you try `1.1.4`? That was a borked publish.

[2022-05-09 23:20] camac opened #352 "Custom css files break the theme if the filename is alphabetically before spectaql.css"
I noticed this when trying to provide some custom css to work around the logo size #326. After adding the file with the additional css rule, the font all reverted to Times New Roman (or something like it, the default font I guess).

I believe this might be related to the use of [@import](https://www.w3schools.com/cssref/pr_import_rule.asp) in `spectaql.css`, and the usage rule that the @import rul

[2022-05-10 12:05] jocrau commented on #351
Version `1.1.4` works as expected, thanks!

[2022-05-10 12:05] #351 closed

[2022-05-10 14:29] alan-cooney commented on #184
For future reference, add this as another graphql file to import. Note you may need to add others - these are just the ones we use at Skyhook.

[code]

[2022-05-10 14:34] #352 closed

[2022-05-10 18:30] benogle commented on #326
Hey @mielvds, what version of spectaql are you using? It renders an SVG fine in firefox for me. Can you attach the SVG you are using?

We can bump up the max-height, but this is something that likely needs to be adjusted in most people's applications anyway.

[2022-05-11 07:17] camac commented on #352
@newhouse Yep `1.1.5` is working as expected 👍  thanks so much for the fast response!

[2022-05-11 16:17] #326 closed

[2022-05-11 17:16] newhouse commented on #322
@albala99  In SpectaQL `1.2.0` you can now set the [`scrollPaddingTopPx`](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L39) option to adjust as necessary.

Can you try this and report back?

[2022-05-11 17:52] newhouse commented on #326
OK, changed the option to be [`logoHeightPx`](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L14) and this should work in both FFox and Chrome.

[2022-05-25 04:31] benrowe-chuffed opened #372 "Build process silently fails when running sass:main"
[code]

Attempting to setup spectaql and i'm hitting the following wall when i attempt to build the static output. Command fails when the `sass:main` task starts. No output or warning is ejected from the process.

Running the same command with the `-C` flag to disable the css output resolves the error but obviously creates an unusable dist.

Running node 16.15.0

[2022-05-25 09:53] m3rad commented on #303
We are really looking forward to this feature, as it causes so many Dependabot warnings regarding an old version of `lodash` being used in grunt packages.  Thanks

[2022-05-25 10:00] m3rad opened #373 "resource-embedder@~0.2.1 Dependabot lodash warning for old version"
versions of lodash before 4.17.5 are vulnerable to prototype pollution.

The vulnerable functions are 'defaultsDeep', 'merge', and 'mergeWith' which allow a malicious user to modify the prototype of Object via __proto__ causing the addition or modification of an existing property that will exist on all objects.

Recommendation
Update to version 4.17.5 or later.

[2022-05-30 04:46] benrowe-chuffed commented on #372
Here's my config:

[code]

Here's my npm file too. I have a feeling it may be due to the version of sass we're using?

[code]

[2022-06-01 08:10] Matovidlo commented on #92
I am currently using version `1.2.1` and the interfaces are not generated. Back in version `0.9.2` it is wroking correctly. Can you please fix it as before? The documentation then have not working links to the interfaces and people complain about not working links. Either remove it from docs or fix the links and generation of interfaces. Thank you in advance

[2022-06-01 08:11] Matovidlo opened #379 "Spectaql does not generate interfaces types as before"
I am currently using version 1.2.1 and the interfaces are not generated. Back in version 0.9.2 it is wroking correctly. Can you please fix it as before? The documentation then have not working links to the interfaces and people complain about not working links. Either remove it from docs or fix the links and generation of interfaces. Thank you in advance

[2022-06-01 13:45] newhouse commented on #379
@Matovidlo Can you please provide a minimal set of config and SDL to reproduce for me?

[2022-06-01 14:28] #337 closed

[2022-06-01 14:29] newhouse commented on #337
Option to change this is in `main` and will be published soon on NPM.

[2022-06-01 15:25] newhouse commented on #373
Yeah, the problem is that nobody is maintaining a lot of these grunt plugins, which is where the vulnerabilities come in. For now, the trade-off is OK to me since I expect most users of this library will "own" the data being input, and so they will not try to exploit themselves.

[2022-06-01 15:46] newhouse commented on #372
@benrowe-chuffed

One thought: It's suspicious that the command you're kicking off the build with is just plain `spectaql`. This suggest that in addition to the version `^1.2.1` that you've got as a dependency in your project, you've also installed `spectaql` globally...and I think the global installation is the one that you're calling there.

Can you try replacing `... && spectaql ...` with `...

[2022-06-01 15:54] newhouse commented on #337
In `main` and published in `v1.2.2`.

[2022-06-01 22:53] simoncoggins commented on #337
Many thanks, that looks great.

[2022-06-06 08:44] tuananhtd opened #385 "Unwanted ragment placeholder on scalar types in sample query"
This is the sample query generated for one of my queries.
[code]
The problem is `id`, `name` and `targetDate` fields are just scalar type (`string` and `DateTime`) so I wish it could be like this.
[code]

I tried to put `fieldExpansionDepth` to 2 or 3 but nothing changed. Any idea where did I mess things up?

[2022-06-08 10:44] tuananhtd commented on #385
Thank @newhouse for the awesome tools! Please find the attached file here: [config.zip](https://github.com/anvilco/spectaql/files/8860800/config.zip)

[2022-06-08 14:09] newhouse commented on #385
@tuananhtd the problem is that in your Scalar definitions in your `instrospection.json`,  for some reason the `fields` key is an empty array (`"fields": []`) when (in my experience) it should be `null`. SpectaQL is checking for `null` there to determine if it's a Scalar that should not be expanded, or if it's a complex object that should be `...SomeSortOfFragment`.

What is generating your `intros

[2022-06-09 03:08] benrowe-chuffed commented on #372
I've not actually used spectaql globally however that did inspire me to run spectaql via npx.

After removing my local node_modules, I ran `npx spectaql spectaql.yml -t ./build/graphdocs` without any issue.
This would indicate to me there's some local dependency (most likely sass related) issue, most likely with my local sass setup.

Closing for now as I've resolved this issue.

[2022-06-09 03:08] #372 closed

[2022-06-09 04:37] tuananhtd commented on #385
Thank you for helping to debug this. I'm using `Dgraph` which in turn uses the scene using `Apolo` behind the scene. I'll do some `JSON` manipulation myself. Not sure about `Apolo` implementation but it also puts a `directive` section in the introspection response and causes some trouble with `SpectaQL` cause we don't have a config to un-document it yet.

[2022-06-09 04:37] #385 closed

[2022-06-09 14:10] newhouse commented on #385
I've decided to fix and publish this for you in version `1.2.3`. Enjoy!

[2022-06-14 04:28] simoncoggins opened #396 "Improve accessibliity of generated output"
We are integrating spectaql within our product and while testing ran an accessibility review. It came back with a few small issues and one of our developers has written a pull request to fix them so creating an issue to track it.

[2022-06-14 04:30] simoncoggins commented on #396
Thanks to @jackrhumphrey for the PR

[2022-06-17 16:00] byrne-greg opened #398 "Breadcrumb/Required-by links for types"
Perhaps a feature I just can't find, but one of the things graphdoc does well is highlighting where types are used.
![image](https://user-images.githubusercontent.com/5464272/174334169-dd8c8575-2a5f-4f70-a280-6addb6f746d4.png).

When the user clicks a "require by" link, they'll be brought to the type that defines it and have its own set of required by types ultimately forming a breadcrumb-like cha

[2022-06-19 01:25] jamesmcglinn opened #399 "Unable to load schema with query parameter enum default"
Spectaql seems unable to parse schemas with enum query parameter defaults.

Given this schema as an example:
[code]

Spectaql fails with:

[code]

Putting quotes around `ASC` is something of a workaround, but seems wrong given it's not a String parameter.

Possibly related to #301?

[2022-06-19 02:27] newhouse commented on #399
Probably not related but I'll dig in soon

[2022-06-20 17:15] newhouse commented on #398
There are a few steps to making this a reality, as I see things:
1. You need a way to build up and provide all the references for a Type (so that you can display them). If/when I did this, I would update [`microfiber`](https://www.npmjs.com/package/microfiber) to provide this functionality.
2. Get the data needed about the references into the data provided to the templating system. I would probabl

[2022-06-20 18:18] newhouse commented on #399
Fix is coming via https://github.com/anvilco/spectaql/pull/400 but other flavors of this may pop up from time-to-time.

[2022-06-21 16:28] newhouse commented on #399
Fixed and published under v`1.2.4`.

[2022-06-21 22:21] jamesmcglinn commented on #399
Thanks very much for looking at this so quickly @newhouse!

[2022-06-23 21:45] mengledowl opened #405 "Mutations with unions do not have a query segment in example"
Our mutations return a union, eg:

[code]

The issue we're running into is that in the generated docs, the example query does NOT have the query segment. For example, for the above, it might generate something like so:

[code]

Whereas what I would expect would be something more like:

[code]

This is unfortunately a major blocker for us as the examples produced are not actually valid examples (th

[2022-06-23 21:59] mengledowl commented on #379
We are seeing this issue as well. Pre-1.x the interface we have was included in the documentation, but after upgrading it is no longer there.

Super simple reproduction:

schema.gql:
[code]

spectaql.yml
[code]

[2022-06-25 18:14] #206 closed

[2022-06-25 18:17] newhouse commented on #373
This is fixed in `main`, but I have not yet released it. Soon.

[2022-06-25 20:54] newhouse commented on #379
Fixed by https://github.com/anvilco/spectaql/pull/406
and release in v`1.3.0`

[2022-06-25 20:54] #379 closed

[2022-06-26 19:14] newhouse commented on #405
Adding support in https://github.com/anvilco/spectaql/pull/407

[2022-06-26 19:26] newhouse commented on #373
Fixed in `1.3.0`

[2022-06-26 19:26] #373 closed

[2022-06-26 19:38] #405 closed

[2022-06-26 19:42] newhouse commented on #405
Added in v`1.4.0`

[2022-06-26 19:47] newhouse commented on #396
Sorry I lost track of this...can you elaborate on what the idea is here?

[2022-06-26 23:14] jackrhumphrey commented on #396
Hi we found some mild accessibility failures while testing our spectaql implementation.

Our automated testing detected a heading rank being skipped by going from h3 to h5 https://www.w3.org/WAI/tutorials/page-structure/headings/

However, this was really because the h4 element was hidden using display: none and couldn't be detected by the test software.

Accessible hiding can be better achieved b

[2022-06-27 00:23] newhouse commented on #396
cc @benogle

[2022-06-27 15:42] mengledowl commented on #405
@newhouse That was blazing fast turnaround - thank you! Verified working in 1.4.0

[2022-06-28 14:41] mengledowl opened #416 "Dynamic links broken when using `info.x-introItems.file`"
Creating a dynamic link to some part of the GraphQL documentation (eg. a type, query, etc) does not work when using the `file` option:

[code]

my-markdown-file.md
[code]

`description` variant correctly links to `/index.html#query-myQuery`, whereas the `file` variant doesn't seem to parse, as it attempts to link to `/{{Queries.myQuery}}`

[2022-06-28 19:31] #416 closed

[2022-06-28 19:44] newhouse commented on #416
Fixed in v `1.4.1`

[2022-07-01 17:12] haris1998-web opened #418 "Add support for grouping Queries or Mutations"
I am working with Graphene Django. I wanted to group my queries and mutations based on some criteria. It would be a plus If we could get subgrouping in Query and Mutation Groups.

[2022-07-01 18:02] newhouse commented on #418
Hi @haris1998-web

It is possible to customize the organization of the data that's rendered (including the Query and Mutation groups) by creating your own theme and overriding the `./data/index.js` file to arrange your Queries and Mutations the way you like.

Here is an example customized `data/index.js` in a theme: https://github.com/anvilco/spectaql/blob/main/examples/themes/my-partial-theme/dat

[2022-07-11 15:07] newhouse commented on #418
@haris1998-web did you have any success with that?

[2022-07-20 12:21] #396 closed

[2022-07-24 20:19] nicolasburtey opened #433 "critical vulnerability from `yarn audit`"
when running `yarn audit` with spectaql as a dependancy, a lot of critical issues pops up. updating lodash should fix it.

some examples:

[code]

[2022-07-25 13:57] newhouse commented on #433
@nicolasburtey what version of SpectaQL do you have installed?

The latest version has no vulnerabilities when I run `yarn audit`. I did some work a few weeks back to get rid of all of them.

[2022-07-25 13:57] #433 closed

[2022-07-25 15:09] gonzalezzfelipe commented on #51
Hey there, just wanting to leave my two cents here. I am working on a Python GraphQL API and want to use this to generate documentation, because there is no good framework for that on Python, at least that I have found. That means that I can't use the plugin to add metadata directly, I would have to translate it to Python. Also, we have disabled introspection for security reasons, so adding metada

[2022-07-25 19:48] newhouse commented on #51
The metadata JSON file format is not (at least not intentionally or knowingly) specific to to Apollo - it's a completely made up structure by me, but appears to follow the generic/standard introspection query results structure...so I wouldn't call it or anything else (other than the plugin I wrote for Apollo) to be Apollo-specific.

I've jumped into this a little bit again just now, and here are m

[2022-07-25 21:39] gonzalezzfelipe opened #436 "Add examples to add metadata for ENUM and INTERFACE"
On the examples folder there is an enum and an interface on the schema, but they are not modified by the `metadata.json`. Is it possible to undocument certain elements of an interface and of enum? I've been trying unsuccessfully for the last couple of hours to do so. I'd be happy to make the PR to add the examples, if it is possible.

[2022-07-26 16:26] charlesfayal commented on #184
Would be awesome if amplify graphql schema was supported

[2022-07-26 16:47] charlesfayal commented on #184
Nevermind it works great with introspection!

[2022-07-27 05:45] felixvd opened #437 "Microfiber options (especially removeUnusedTypes) need to be exposed"
I just spent way too long hunting down a parameter that caused many types in my schema to be hidden, and which was not accessible via `config.yaml`. I had to change [these lines](https://github.com/anvilco/spectaql/blob/787524916133a9921858dfa4452e12edfb8d0d2f/src/themes/default/data/index.js#L6--8) in `src/themes/default/data/index.js` to display all the types:

[code]

This option should be in t

[2022-07-27 05:48] felixvd opened #438 "Setting Boolean, String as `undocumented` causes compilation issues"
I would like to hide the basic types in the generated doc, and this works fine for `Int` and `Float`. However, setting `Boolean` or `String` as `"undocumented": true` under `SCALAR` causes compilation to fail.

To reproduce, change the example `metadata.json` to e.g.:

[code]

[2022-07-28 02:36] #51 closed

[2022-07-28 02:42] newhouse commented on #51
OK @trevorr @gonzalezzfelipe @stephen-opal @rajington

I have added support for adding metadata in via a `@spectaql` directive. The usage is pretty straightforward, and reasonably customizable. It is now out in `main` and in version `1.5.0`.

I decided to make the options you pass a more generic `LIST` of objects that have the following shape: `{ key: String!, value: String! }`. This will allow fo

[2022-07-28 02:50] newhouse commented on #437
Hi @felixvd and thanks for using SpectaQL. Sorry about your issue.

Hmm, yes, the options you need should actually be available in the "hide" options, like [this one](https://github.com/anvilco/spectaql/blob/main/config-example.yml#L296).

However, it does look like I'm not passing them to that location like I should be so that they are used in that instance of microfiber.

Can you tell me what wa

[2022-07-28 02:55] newhouse commented on #438
@felixvd can you please provide the error you are seeing?

I am unable to reproduce the error locally. Perhaps you just have a minor JSON syntax error? That file is `.json` and not `.js`, so you can't have unnecessary commas, and things like that, or you will get a parsing error.

[2022-07-28 04:28] felixvd commented on #437
Yes, that's right. Concretely, my schema is referencing an interface, but the types implementing the interface are dropped:

[code]
(Stat1 and Stat2 do not appear in the doc)

This minimal example SDL reproduces the issue as well:

[code]

`MyTestType2` is removed from the doc regardless of the `config`'s content. This is the first problem. I came across another after this.

Setting `removeUnusedF

[2022-07-28 11:17] felixvd commented on #438
Sadly I can't reproduce this myself anymore. I only remember that the JSON was fine, and the error occurred later. It might have been an issue with my build. I will close for now. Sorry for the noise.

[2022-07-28 11:17] #438 closed

[2022-07-28 12:16] newhouse commented on #51
@gonzalezzfelipe Is it working for you?

[2022-07-28 12:30] felixvd commented on #437
I would have liked to read through microfiber's [`cleanSchema`](https://github.com/anvilco/graphql-introspection-tools/blob/main/src/microfiber.js#L509) to see if it can be changed such that types which implement a referenced interface will not be removed. But it does not look like I will have the time. I hope the change is easy and you or someone else (or me if I can find time in the future) can

[2022-07-28 15:06] gonzalezzfelipe commented on #51
Yep, it is working just fine 👍

[2022-07-28 15:10] newhouse commented on #437
Ah yes, you're only referencing the _interface_ type and not the implementations...this is interesting.

Yeah, I think now that what I should do primarily is to update `microfiber` to consider types that _implement_ an interface that is used as something to keep around. Let me check that out.

[2022-07-28 16:40] #436 closed

[2022-07-28 16:43] newhouse commented on #436
This is out in `main` and v`1.5.1`

[2022-07-28 21:06] BoilerTom90 opened #442 "List Subscriptions immediately under Mutations"
Currently, Queries and Mutations are listed as Operations are listed at the top of the left sidebar.  Subscriptions are listed at the bottom after all of the types in their own section labeled Subscriptions.   I think it makes more sense for the subscriptions section to be moved up right under the Operations section, or better yet, just consider a Subscription an Operation. Similar to the way the

[2022-07-29 02:09] felixvd commented on #418
Grouping queries, mutations and types would be very useful, but I wouldn't know how to use the theme to implement this either. An example with metadata would be helpful.

[2022-07-29 14:40] newhouse commented on #442
Related to https://github.com/anvilco/spectaql/issues/418

[2022-07-29 14:40] newhouse commented on #418
Related to https://github.com/anvilco/spectaql/issues/442

[2022-07-30 19:57] newhouse commented on #418
Currently you'd need to know a bit about coding and implement your desired behavior via a custom theme data arranger.

Perhaps I could add support for a metadata option that can indicate how you'd like to group/arrange things. Then users would not need to know how to code necessarily, nor need to make a theme, but simply get the right metadata applied.

[2022-08-01 16:07] #437 closed

[2022-08-01 16:11] newhouse commented on #437
This is fixed/provided for in `main` and v`1.5.2`.

[2022-08-01 16:36] BoilerTom90 commented on #442
Thanks for the consideration!

[2022-08-02 19:18] BoilerTom90 opened #448 "Skipping remote @import of "https://fonts.googleapis.com/css..."
When I run spectaql, I'm seeing this message in the output:

![image](https://user-images.githubusercontent.com/17208255/182455689-69b3f583-9ea6-4816-b319-bf36ec8cb284.png)

This message shows up even if I use the `--quiet` option.

Spectaql still generates the output, but it would be nice if the root cause of that error could be addressed.

[2022-08-09 00:46] felixvd commented on #437
Excellent, thank you :)

[2022-08-12 07:10] swissmanu opened #453 "Question: Can I include Markdown Pages at an arbitrary location?"
Thanks for providing `spectaql`! It's exactly the starting point for our API documentation I was looking for.

I was able to integrate additional pages using markdown files and `x-introItems` to our documentation PoC. Right now, I am playing with the experimental content API (https://github.com/anvilco/spectaql/blob/main/examples/themes/my-partial-theme/data/index.js) to give our docs some more st

[2022-08-12 18:10] newhouse commented on #453
Try adding a `description` key/value to your `items` array in the right spots and it should render it as long as `hideInContent` is not `true`.

You should be able to load a text file by importing and using `helpers/loadTextFromFile`.

[2022-08-12 18:10] #453 closed

[2022-08-15 06:09] swissmanu commented on #453
@newhouse Of course! Should have come to my mind as well. Thank you!

[2022-08-17 22:30] kylebjordahl opened #461 "Using directive to provide example value requires nested string"
### What we expected to work:

[code]
But sadly this yields a syntax error:
[code]

### What actually works
[code]

(making this issue to link to a PR for a fix)

[2022-08-18 14:48] newhouse commented on #461
This was known to me at the time I released it...but I probably should have (a) documented it better or (b) fixed it.

[2022-08-18 14:52] #461 closed

[2022-08-18 16:08] newhouse commented on #461
This is fixed and released in `main` now and v`1.5.3`.

[2022-08-18 17:25] kylebjordahl commented on #461
Thanks @newhouse !

[2022-08-22 23:57] jackrhumphrey opened #468 "Nested data heading level accessibility failure"
Hi we've been making use of the data API in our SpectaQL implementation.

Ideally we would nest our data at 3 levels: Reference, Component and Mutation/Query/Type. This is supported in the example file:

// What should be noted is that you can nest things (more than once) for ultimate
// control over what data you display, and in what arrangement. Yay!

However we found an accessibility failure wh

[2022-08-25 15:45] newhouse opened #469 "Support specifying example query/mutation responses for scalar types"
For example, if I have a mutation that returns a `Boolean`, I may want the documentation for that to always be `true` (or perhaps `false`), rather then a random selection between `true`/`false`.

[2022-08-29 10:20] tlinhart opened #470 "Add possibility to try out the query/mutation"
We are using a custom GraphiQL bundled with our API which allows to initialize the state (query, variables and HTTP headers) from URL parameters. It is adapted from [this official example](https://github.com/graphql/graphiql/blob/main/packages/graphiql/resources/renderExample.js) and seems to be pretty standard I would say (I have definitely seen it a couple of times used in the wild). All these c

[2022-08-29 13:59] newhouse commented on #470
Related to https://github.com/anvilco/spectaql/issues/248

[2022-08-29 14:45] alMWI opened #471 "NPM audit vulnerabilities"
Hello,

We have an installation of `SpectaQL v1.5.3` in our project. We are seeing some issues when running `npm audit`. It is recommending us to downgrade to `v0.0.2` to fix the vulnerabilities. Currently, there are 11 vulnerabilities listed for SpectaQL.

[code]

Do you plan on bumping the versions for the dependencies that SpectaQL uses?

Thanks

[2022-08-29 14:55] newhouse commented on #471
Hmm. Will have a look.

[2022-09-09 15:11] newhouse opened #483 "Allow a way to omit a field from an example"
For example, if I make the `example: '__SPECTAQL_OMIT__'`, the field should be omitted from the example object.

Useful for omitting arguments that are optional, or that should not be specified when another mutually exclusive argument is provided.

[2022-09-09 15:44] newhouse opened #484 "Show default value in table for input types"
I don't think this currently works.

[2022-09-10 03:22] Linuxinet opened #485 "Support with Introspection"
Can this tool works only with Introspection?
I mean I only have Introspection schema how can I specify in the config.yaml to use this tool

[2022-09-13 16:58] haysclark opened #490 "use NodeJS v14 as min-spec and sunset NodeJS v12 support per EOL (4/30/2022)"
**Security Support** for `NodeJS v12` officially ended on Apr 30, 2022
@see https://endoflife.date/nodejs

Ending support for versions of _NodeJS_ that are no longer supported will reduce maintenance surface area.

If needed, a major or minor version bump of `specaql` may help communicate this change to the community.

[2022-09-13 17:56] newhouse commented on #490
I'm going to have to think about whether the fact that Node 12 has been sunset means that this project should no longer worry about supporting Node 12 runtimes. Just because the Node project will not be updating 12 does not mean that there are not a lot of 12.x runtimes out there using SpectaQL.

I think it would be a good time to:
1. Decide when to stop supporting Node 12
2. Announce that time
3.

[2022-09-15 05:59] parmeet22 opened #492 "return string response instead of writing always to file system"
when using spectaql as a dependency in a node project we do not get a stringified response of the html document generated. This makes it difficult to integrate in an api.
can we have some feature similar to @asyncapi/generator where we have possbility to get string response instead of getting a HTML file saved to file system always?

[2022-09-16 05:01] parmeet22 commented on #492
yeah makes sense for embeddable mode or if we have inline or no css and JS.
This feature would allow me to generate documentation for multiple different introspection.json on the fly without having to always read the output HTML file .

[2022-09-21 13:57] newhouse commented on #492
OK, this will be coming soon:
https://github.com/anvilco/spectaql/pull/497

The `run` function will return an object `{html: '<your html here>'}`, which you can do what you please with.

I'll let you know when it's been released.

[2022-09-21 14:06] newhouse commented on #485
Hi @Linuxinet and thanks for using SpectaQL!

You can instruct SpectaQL to build documentation via:
1. Performing an Introspection Query against a live GraphQL server
2. Providing a JSON file that contains the result of an Introspection Query
3. Providing a `.gql` file that contains your GraphQL schema.

It sounds like you're trying to use option 2?

In that case, your configuration yaml file migh

[2022-09-21 15:44] #485 closed

[2022-09-21 16:48] newhouse commented on #492
@parmeet22 this is now in `main` and available in v`1.5.4`

[2022-10-11 17:02] ksiopiolosz-vy opened #507 "[Suggestion] Allow graceful parsing of `type` with no fields in static schema file"
The following example will cause the parser to throw an exception:

[code]

Output:
[code]

We have restrictions on fields we'd like to show externally, so having the option to ignore empty types would be great.

[2022-10-11 19:09] newhouse commented on #507
That error is almost certainly coming directly from `graphql-tools`, which parses the SDL to generate your schema. Having an empty Type with no fields is invalid, apparently. Unless there's an option for `graphql-tools` that I can pass to allow empty types, then there's nothing I can do I'm afraid.

However:

Hiding Types, Fields, Arguments, Queries, Mutations, etc, is a big part of what SpectaQL

[2022-10-11 19:09] #507 closed

[2022-10-12 23:02] moritz157 commented on #471
I just installed SpectaQL on a project of mine and GitHub's dependabot went crazy when I pushed it. So yeah... it would be really great to upgrade some dependencies (the reported vulnerabilites apparently come from `lodash`)

[2022-10-13 19:30] moritz157 commented on #471
Well nvm my earlier comment - after reading #303 I understand the problem better

[2022-10-15 10:49] moritz157 opened #508 "Proposal: Remove remote import from Google Fonts for GDPR compliance"
SpectaQL currently imports the Barlow font directly from Google servers when using the default theme.
However, without explicitly asking for the user's consent, this is considered to violate the General Data Protection Act (GDPR) and therefore makes the default theme not usable in EU member states. (Source: https://cookie-script.com/blog/google-fonts-and-gdpr)

Although users of SpectaQL could sim

[2022-10-20 17:41] newhouse commented on #471
Medium term I plan to fork/replicate/replace all the unmaintained junk that has these vulns so that we are squeaky clean at all times.

[2022-10-24 09:12] newhouse opened #510 "@spectaql directive on Scalars (and Types, other top-levels?)"
I don't think they work, currently.

[code]

[2022-10-25 20:25] newhouse commented on #490
This will be addressed in https://github.com/anvilco/spectaql/pull/524

[2022-10-25 20:59] newhouse commented on #442
I think perhaps this should be an "option" that can be passed to the default included themes.

[2022-10-26 15:48] sunyych opened #542 "Propose: Add paging configuration for the static page generation options"
With large GraphQL documentation, the single raw HTML page would be over 10M, within the single HTML page. It works but consumes a large amount of memory to render it. We tested 6-7M single-page HTML content, consuming over 600MB in Chrome loading this page.
Add simply paging this generated HTML content, since we have the 1 file option. we should have options for grouped HTML files.
Thanks

[2022-10-26 20:40] newhouse commented on #542
Hmm, yeah, interesting idea. I'll have to think on it and what a default solution might look like.

For example, you'd probably want the entire API represented in the navigation panel while only rendering a portion of the API in the main panel...pagination feels clunky and very `Web 1.0` to me...perhaps there's a sexier AJAX-like approach?

[2022-10-28 03:33] matoni109 opened #543 "Issues using with `"type": "module"` and custom theme"
Hi Team,

[code]

[code]

First up thanks for the library, it's really solving a use case for us here.

I don't know if I'm missing something, but I'm trying to use the above setup and initiating with `yarn schema:doc`

* i'm using the `my-partial-theme` out of the `node_modules` folder.
* for context the rest of the repo is ES6, with non commonJS packages

Getting below:
* any help would be super

[2022-10-28 18:49] newhouse commented on #543
Hello @matoni109 and thanks for using SpectaQL.

Can you perhaps provide a minimal, working set of files to reproduce this issue? I'm not 100% familiar with how to solve these kinds of ES6 / CommonJS issues right now, and it would be way easier for me to do something that will actually solve the problem if you could help me easily reproduce it.

Could your create a small repo (or gist or something

[2022-10-31 00:28] matoni109 commented on #543
Thanks @newhouse,

Here is the [repo to show the issue in more detail](https://github.com/matoni109/spectaql-es/blob/master/README.md)

[code]

[2022-10-31 19:46] ris314 opened #544 "Question: Can custom schema directives be shown in generated document"
I would like to surface the `@deprecated` schema directive references in the generated document based on the SDL file, so that the readers can see deprecation warnings.

In addition, I would like to surface a handful of custom schema directives in the generated document as well. Since I am not relying on the introspection query, I believe this should be possible.

How can achieve this?

[2022-10-31 20:12] newhouse commented on #544
Hello @ris314 and thanks for using SpectaQL!

The `@deprecated` is supported since it is "built-in" and its significance is easily representable in documentation.

However, custom directives are not currently supported.

1 reason they're not supported is this question: how would they be represented? Would any arguments be shown, or just that they've been decorated with a directive? I suppose some

[2022-10-31 21:11] ris314 commented on #544
Thanks for the quick response, @newhouse!

I had `"spectaql": "^1.4.0"` specified in my package.json, and after updating to the latest I can see the `@deprecated` surfacing. Good stuff.

For custom schema directives display, would you consider interactive elements? For instance, you could render some kind of an indicator/tooltip trigger next to an item and upon hover display detailed information a

[2022-11-03 16:29] jason-dahl opened #545 "spectaQL directive breaks the GQL server when it's not defined"
I'm trying to implement spectaQL for our orgs graphql server.  I'm having quite a bit of trouble with getting any approach to adding metadata in.  My preferred method would be to use the spectaQL directive as then I can add my documentation right in my schema, but the part I'm not understanding is that adding an undefined directive to your schema will break the server

[code]

I've tried defining

[2022-11-04 04:25] matoni109 commented on #543
[this article](https://redfin.engineering/node-modules-at-war-why-commonjs-and-es-modules-cant-get-along-9617135eeca1) has some ideas on how to make the package able to support *.cjs & esm but it would require a fair bit of work

[2022-11-04 17:01] jason-dahl commented on #545
I've been poking around this project and it looks like it's almost intended to download your schema, then run spectaQL, where as the approach I want to go is use the `url` option for introspection and actually hit my gql server.  If that's the case, am I able to add metadata + examples in my outputted documentation?

[2022-11-04 18:11] newhouse commented on #545
Hi @jason-dahl I understand the use-case here and will have a look ASAP. I'm surprised to hear it's not having an effect when you define the directive yourself in your SDL, but I'll figure it out and get back to you.

[2022-11-06 00:32] elijaholmos opened #546 "bug: watch mode not updating when `.graphql` file is changed"
I have set up a simple project with the following file structure:
[code]

The `spectaql.yml` config looks like so:
[code]

When I run the command `pnpm exec spectaql -D spectaql.yml`, Spectaql successfully generates documentation and creates a development server at http://localhost:4400, then enters watch mode. However, when I save the `schema.graphql` file, the changes are not reflected in neithe

[2022-11-07 00:56] amostanls opened #547 "null value for example using metadata.json"
Here is what I am trying to do: I have a `Product` type that has a field `name` and would like to have the example of `name` be `null`.
[code]

Here is my `metadata.json` file.
[code]

Here is what is generated:
[code]

Is there anyway I could get the example as below?
[code]

[2022-11-09 10:19] goochjs commented on #418
That would be wonderful.  We have a complicated set of GraphQL queries and mutations and I'd like to see them organised into themes like `account management`, `device management`, etc.  I think you're saying above that I need to implement this by overriding the `./data/index.js` file but it'd be ideal if this could be via tags in the metadata.

[2022-11-11 01:53] newhouse commented on #322
Closing  as I think this is fixed.

[2022-11-11 01:53] #322 closed

[2022-11-11 02:59] newhouse commented on #545
Ah yes, upon re-reading your use-case, this is unfortunately not possible right now via the introspection query. The problem is that the introspection query does not (in the spec) expose what directives are applied to what things.

The best thing for you to do is to somehow get your SDL file (with the directives throughout) downloaded to SpectaQL for use. Sorry!

[2022-11-11 02:59] #545 closed

[2022-11-11 03:07] newhouse commented on #544
Just an FYI that this currently would only be possible for those that actually provide SpectaQL their SDL file. GraphQL spec does not require servers to add what directives are applied to anything in the schema to the Introspection Query output, so it's not available to SpectaQL in that manner. This puts this a bit lower on my list to support, but I will still keep this open for the future

[2022-11-11 22:28] newhouse commented on #546
This is fixed in `v1.5.7`

[2022-11-11 22:28] #546 closed

[2022-11-11 22:28] newhouse commented on #547
This is fixed in `v1.5.7`

[2022-11-11 22:28] #547 closed

[2022-11-11 22:33] elijaholmos commented on #546
thank you!

[2022-11-11 22:48] newhouse commented on #508
This is now possible by setting the `spectaql.loadExternalFont` config option to `false`.

Released in `v1.5.8`!

[2022-11-11 22:48] #508 closed

[2022-11-11 22:50] newhouse commented on #471
I am aiming to take care of this in the 2.0 release.

[2022-11-22 00:00] matoni109 opened #563 "[solved]: `Can output JS and/or CSS "in line" in your HTML file, rather than as separate files.`"
Hi @newhouse,

*UPDATE:*
Ok figured it out using below:
[code]
Just trying to figure out how to do:
* **Can output JS and/or CSS "in line" in your HTML file, rather than as separate files.**
[code]

I'm using below in `/views/embedded.hbs`

[code]

[2022-11-22 19:55] newhouse commented on #563
Yes, it's the `-1` or `--one-file` option from the CLI. I should expose that via the config yaml as well.

[2022-11-22 19:55] newhouse opened #564 "Allow one-file as a config yaml option"
Would probably have avoided this:
https://github.com/anvilco/spectaql/issues/563

[2022-11-26 17:06] elijaholmos commented on #545
I'm running into a similar issue with a schema-first approach. My `schema.graphql` file contains several `@spectaql` directives, but when I try to use it to create a GQL api with Nest.js and Apollo, I get several `Unknown directive "@spectaql".` errors as the Nest.js application attempts to spin up.

When I use the `spectaql` package to generate my GQL documentation, I instruct it to pull from my

[2022-11-27 20:46] knidarkness commented on #471
@newhouse , is there any estimate/timeline for when there's a hope to see v2.0 release?

[2022-11-28 18:50] newhouse commented on #471
Aiming for this week @knidarkness

[2022-11-28 18:53] elijaholmos opened #570 "FR: Support cosmiconfig"
[cosmiconfig](https://github.com/davidtheclark/cosmiconfig) is an extremely popular configuration tool that improves the developer experience and supports reading configuration files in a variety of formats, including YAML, JSON, JS, and TS. It allows the users of a library to create a config file in their preferred language, with their preferred file name and file location. Regardless of the name

[2022-11-28 18:54] elijaholmos commented on #545
@newhouse the first suggestion worked, thank you 🙂 I like how it can be done programmatically for my SDL generation, and I may use that as my project progresses. thank you for the help.

[2022-11-29 21:56] newhouse opened #571 "allow output to be to nowhere/tmp and only get back the html"
Right now, it will default write to a directory in the same location as the execution, but perhaps there should be an option to not write the output anywhere, and instead only get it back from the API calls.